[2019-04-19 08:24] Daniel-1234567 opened #2 "Running Error"
Hi, I tried several times to run this project, but I still fail to run it. There are some errors as below:

`sheldon@instance-2:~/FlexFlow$ ./ffcompile.sh alexnet
---> Linking objects into one binary: alexnet
g++ -o alexnet cnn.cc.o cnn_mapper.cc.o alexnet.cc.o conv_2d.cu.o ops.cu.o pool_2d.cu.o batch_norm.cu.o linear.cu.o softmax.cu.o concat.cu.o cnn_helper.cu.o -lcudnn -lcublas -lcurand  -L. -ll

[2019-05-05 16:55] OuHangKresnik opened #3 "What datasets do FlexFlow use ? like AlexNet"
Just as the title

[2019-05-07 09:02] #3 closed

[2019-05-07 09:04] OuHangKresnik opened #4 "Potential bug in cnn.cc"
bool parse_strategy_file(const std::string &filename, FFConfig& config)
{
  FILE* file;
  if ((file = fopen(filename.c_str(), "r")) == NULL) {
    log_ff.print("Cannot open strategy file (%s)", filename.c_str());
    return false;
  }
  fclose(file);
  return true;
}

  if (parse_strategy_file(config.strategyFile, config))
  {
    log_ff.print("Error: cannot parse strategy file");
    return;
  }

[2019-05-07 09:22] OuHangKresnik commented on #4
Also just couldn't see the example strategies (strategies fold mentioned in README)

[2019-06-26 07:52] un-knight opened #5 "Do you have a dockerfile or docker image?"
I want to use FlexFlow in docker container, so does there has official dockerfile or docker image?

[2019-07-01 07:13] MarvinLong opened #6 "CUDA variable is not defined"
Hi, when i ./ffcompile.sh alexnet, I got legion/runtime/runtime.mk:287: *** CUDA variable is not defined, aborting build.  Stop. How can I sovle this error?

[2019-08-13 12:05] ylxdzsw opened #7 "Assertion failed when running Alexnet example"
Hi, I tried to run the AlexNet example but failed with an assertion error with no meaningful error messages. I tried all three released versions (I can't get master compiled) and they all reports the same error.

[code]

Ubuntu 16.04 + CUDA 10.1 + CuDNN 7 with 2 Tesla V100. Legion is compiled following the guide with default options except for `USE_CUDA=1`.

[2019-08-14 04:26] ylxdzsw commented on #7
Hi, I simply deleted all the `assert`s and now it _seems_ that it runs well. Not sure what's the subsequence.

[2019-09-17 20:11] glauer53 commented on #7
I'm running the simulator in the script directory.
When I change the example from nmt to alexnet, I get an assert complaining that c.nDims==1 failed.
(I get similar assert failures for resnet, densenet, inceptionnet, etc.)

Here's a typical backtrace from gdb, followed by a print(c) of the object failing the assert.

#0  __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:51
#1  0x0

[2019-12-05 09:09] Orion-wyc commented on #7
I encountered the same problem. Assertion appeared while testing AlexNet.

Details:
[code]

[2020-03-18 16:55] aj-prime opened #9 "Legion Error: error_code_68"
I am trying to run alexnet example with sysml19_ae branch.

My run command is:
./alexnet -b 64 -ll:gpu 1 -ll:fsize 5000 -ll:zsize 5000 --strategy strategies/alexnet_data_parallel.strategy

The output is:
--------  Start FlexFlow Runtime  --------
batchSize(64) inputHeight(224) inputWdith(224)
workersPerNode(1) loadersPerNode(8)
datasetPath(synthetic data)
strategy(strategies/alexnet_data_parallel.

[2020-03-20 02:18] aj-prime opened #10 "How to run batch size smaller than the number of nodes for very large DNN"
I getting this error when I try to run Batch size 2 on 4 GPUs

CnnModel::CnnModel(int, int, int, int, int, int, int, int, bool, float, int, int, Legion::Context, Legion::Runtime*): Assertion `num_images * 3 % (config.num_loaders * config.num_nodes) == 0' failed.

If I run batch size 4 then it is giving out of memory error.

[2020-04-08 00:22] moderato opened #13 "DLRM Criteo example segmentation fault"
Hello! I'm trying to run the DLRM Criteo example with the command
[code]
and I get this error
[code]
When I look into the dumped core, I see the last error message is
[code]

Anyone can help? Thanks in advance!

[2020-04-08 06:47] moderato commented on #13
Solved by updating to the latest Legion.

[2020-04-08 06:47] #13 closed

[2020-04-08 06:49] moderato commented on #9
Same error here when running the DLRM example.

[2020-04-08 14:11] Orion-wyc opened #14 "How to generate a strategy for a DNN？"
It seems that I haven't figured out how to use **FlexFlow**.
How should a strategy be used in training and how to generate one strategy?
Can you provide a tutorial? (use the simulator in the scripts?)

In the **strategy** folder, the strategies can not work  and an error occurs (as follow):
'''
strategies.size() = 12
workSpaceSize (1024 MB)
Floating point exception (core dumped)
'''
However, With

[2020-04-08 14:13] Orion-wyc commented on #9
Can you run any other examples (Alexnet or Resnet) without  error?

[2020-04-08 20:55] moderato commented on #9
Alexnet and InceptionV3 work well for me without specifying a dataset (I suppose it's using synthetic data). Very strangely, when I rebuild the DLRM example it now gives me this error...
[code]

Any thoughts?

[2020-04-09 00:02] Orion-wyc commented on #9
I haven’t tried DLRM so far. You are right. It works well without strategies and datasets.
I want to know how to automatically generate a strategy for a DNN, as described in the paper.
Have you tried using strategies？
The simulator.cc provided in the scripts floder seems to output a series of candidate strategies, but how to deploy these strategies？
You can also refer to another issue
https://gith

[2020-04-09 18:58] jiazhihao commented on #14
The strategies are generated by the FlexFlow simulator: https://github.com/flexflow/FlexFlow/blob/master/scripts/simulator.cc. Currently, there is a mismatch between the format of the strategies generated by the FlexFlow and the format expected by the runtime.

I will working on fixing this early next week.

[2020-04-09 19:34] jiazhihao commented on #9
@moderato The strategy files provided in the sysml19_ae branch is deprecated. This file (https://github.com/flexflow/FlexFlow/blob/master/src/runtime/dlrm_strategy.cc) demonstrates how to generate strategy files for DLRM. I am currently working on updating the FlexFlow generator to support the new strategy format.

[2020-04-09 23:10] moderato commented on #9
@jiazhihao Sounds cool, thank you for the reply! Is the error we encountered here related to the mismatch you mentioned here? [https://github.com/flexflow/FlexFlow/issues/14](url)

[2020-04-10 00:15] Orion-wyc commented on #14
@jiazhihao Sounds great! Thank you for the reply!

[2020-04-21 19:33] knagrecha commented on #14
Has this issue been resolved with the latest updates?

[2020-04-22 02:30] zechao-zhang commented on #14
I don't think it works, get reply
"Load parallelization strategy from file ..../FlexFlow/src/runtime/strategy.pb.cc.o
Failed to parse strategy file"

[2020-04-22 18:02] knagrecha opened #17 "Implementing with text transformer model"
Hi,

I have been going through the examples to try and figure out how to implement BERT to work with FlexFlow. However, as far as I can tell none of the examples are for text input. I'm not sure how to approach rewriting the code to make it compatible with FlexFlow - do you think you could add an explanation of the examples? While the AlexNet and InceptionV3 examples are easy to understand, the ot

[2020-04-23 08:24] Orion-wyc commented on #14
You can run the latest version of FlexFlow. It is able to parse the old strategy file which is deprecated.
I tried to modifiy the strategy file and load it to the distributed runtime, but get an ASSERTION info.

I hope to solve this problem that troubles me. <qwq>

[2020-04-23 08:44] zechao-zhang commented on #14
Sorry but where is the old strategy file? I installed FlexFlow just this Tuesday so it is the latest version but only the default strategy DP can be adopted.

[2020-04-24 18:31] knagrecha commented on #14
I found strategy files on the sysmlae branch. Not sure if those are what is being referenced, but I will be testing these to see if they work.

[2020-04-24 18:59] jiazhihao commented on #14
@knagrecha Which models you would like to train using FlexFlow? We have updated the interface for describing parallelization strategies, and the strategy files in the sysmlae branches are deprecated.

[2020-04-24 19:25] knagrecha commented on #14
@jiazhihao  I'm currently just trying to train AlexNet. Where would I find the updated strategy files?

[2020-04-24 19:35] knagrecha commented on #14
I suppose more accurately, my question is how to translate the results of the simulator (if they are still applicable to the current runtime) to a strategy file.

[2020-04-25 13:45] Orion-wyc commented on #14
@jiazhihao  Is that to say that we can use our own strategy to train a DNN but the strategy generated by 'scripts/simulator.cc' should be refactored manually  or by a script to be a xxx_strategy.pb file ?
If we want to train a model with a real dataset (i.e. ImageNet ), does the Dataloader interface in alexnet.cc need to be modified?
The idea of your paper is really interesting, it seems that I ha

[2020-05-12 02:38] Orion-wyc opened #19 "CUDA error reported on GPU 0: device-side assert triggered (CUDA_ERROR_ASSERT)"
@jiazhihao I am training AlexNet with cifar10 data_batch_1.bin on my server. I only use 2 GPUs and it seems that parameters on different GPUs may fail to synchronize. The label is -1 and logits in  _softmax_cross_entropy_calc_loss_ are nan (the same when using other batches). If I use synthetic data,it runs properly.

Thanks.

ERROR INFO:
...
acc_train_loss: inf train_accuracy: 9.38%(24/256)
acc_t

[2020-05-18 23:36] jiazhihao commented on #19
@Orion-wyc Thanks for reporting the bug. I have fixed a bug in the concatenation that caused the GPU failure. After the fix, it now works fine on multiple GPUs on my instance. Let me know if you still observe any failure.

[2020-05-19 02:05] Orion-wyc commented on #19
@jiazhihao Wow, thanks for solving this issue. It runs properly on mutiple GPUs. And luckily, I noticed that it achieves better performance on convergence after fixing the bug. ヾ(*´▽‘*)ﾉ

PS:
I have three question on the source code, so I sent you an e-mail (from orionXXX.yeah.net) several days ago. One of the problem has been solved in this issue. I think that some infomation in that e-mail is ou

[2020-05-28 19:01] anmolpau opened #20 "Working set of your application is too big for the allotted capacity"
Hi I tried running the Alexnet example and this is the error I am getting,
even for the small subset cifar-10 datasize of 30730000 bytes and smaller batch sizes like 5-10,

[0 - 7f0cbb7f5700] {5}{default_mapper}: Default mapper failed allocation of size 150994944 bytes for region requirement 0 of task Zero Init Task (UID 1906) in memory 1e00000000000001 for processor 1d00000000000002. This means t

[2020-05-29 23:02] jiazhihao commented on #20
Can you copy-paste the command line you used to launch FlexFlow? It seems FlexFlow does not find enough GPU memory for intermediate results. Note that the size of some intermediate tensors (e.g., gradients of model parameters) are irrelevant to the batch size.

[2020-06-05 04:05] jiazhihao opened #22 "Python import error"
I am getting the following error when testing the Python interface:
[code]

Is keras_preprocessing our package or an external package?

[2020-06-05 04:25] eddy16112 commented on #22
Sorry I forgot to add it to the requirement.txt. It is an external package.

[2020-06-05 04:38] eddy16112 commented on #22
By the way, the test.sh in the python folder contains all tests, you can try it. The last two tests sometimes may fail, but the problem comes from the models, not flexflow.

[2020-06-05 06:57] jiazhihao commented on #22
Installing keras_preprocessing fixes the problem.

[2020-06-05 06:57] #22 closed

[2020-06-05 09:50] YeTianJHU opened #23 "Building DNN model failed"
Hi,

When I was trying to build DNN models, I ran into this issue:
[code]
I've checked that the `LG_RT_DIR ` is set correctly.

Could you provide any suggestions please? Thanks!

[2020-06-05 18:34] eddy16112 opened #24 "Remove the virtual function Parameter* get_parameter(int index) = 0 from Op base class"
@jiazhihao I plan to remove the virtual function `virtual Parameter* get_parameter(int index) = 0;` from the Op base class and move it down to child classes like Conv2d, Linear and etc., since not all Ops have parameters.

When calling it from python, I can cast the Op* to Conv2d* (or others) because when calling this function, users should already know what kind of Ops it is.

Please let me know

[2020-06-05 18:45] eddy16112 commented on #23
Please try again, the makefile should be fixed now.

[2020-06-05 18:49] jiazhihao commented on #24
@eddy16112 One benefit to keep it as a base class function is supporting traversing the model and collecting all trainable weights. This also seems to be the design used in TensorFlow Keras: https://github.com/tensorflow/tensorflow/blob/v2.2.0/tensorflow/python/keras/engine/base_layer.py#L1546-L1588

I think for not it is better to keep our interface consistent with Keras to minimize mismatches.

[2020-06-05 18:57] eddy16112 commented on #24
I see. It makes senses to me. Thanks.

[2020-06-05 18:57] #24 closed

[2020-06-08 04:15] YeTianJHU commented on #23
Thank you so much for your quick response! The previous problem is solved. Unfortunately here's a new one:

[code]
Thanks!

[2020-06-08 08:04] jiazhihao commented on #23
There seems to be some inconsistencies in your build. Can you rebuild the binary using the following steps:
[code]
Meanwhile, make sure to update your submodules (e.g., legion)

[2020-06-08 09:36] eddy16112 opened #25 "Alexnet crashes after the interface changes commit"
@jiazhihao I noticed the Flexflow crashes after your latest commit
[https://github.com/flexflow/FlexFlow/commit/2bc9997a269cd420515549770aea6c750b25d511](url)

Here is the error I get from Alexnet:
[wwu12@saturn AlexNet_old]$ mpirun -np 1 ./alexnet -ll:gpu 1 -ll:fsize 2048 -ll:zsize 12192
[0 - 7ffff7fcd800] {4}{threads}: reservation ('DMA request queue') cannot be satisfied
[0 - 7ffff7fa0800] {3}{

[2020-06-08 09:51] YeTianJHU commented on #23
It works! Thanks!

[2020-06-08 09:51] #23 closed

[2020-06-08 10:16] eddy16112 commented on #25
Here is the stack, but I did not get too much information for me to debug since it is not in FF.

#7  0x00007fffd54430d2 in __assert_fail () from /lib64/libc.so.6
#8  0x00000000029329e2 in Legion::Internal::RegionTreeForest::initialize_path (this=0x69c1010, child=0x7ffbe44334a0, parent=0x7ffbe4436e30, path=...) at /home/wwu12/legion-cr/runtime/legion/region_tree.cc:5819
#9  0x0000000002932831 in L

[2020-06-08 17:28] jiazhihao commented on #25
The bug should have been fixed by commit 0eeb7dac71.

[2020-06-08 19:50] eddy16112 commented on #25
Thanks, it works now.

[2020-06-08 19:50] #25 closed

[2020-06-10 21:19] zarzen opened #28 "What is the unit of link speed in scripts/simulator.cc?"
Hi,
 I would like to change the link speed at here: https://github.com/flexflow/FlexFlow/blob/422e25886731f0e8e2493085d9b519afe0045bb2/scripts/simulator.cc#L37
but I am not sure the unit of the number, is it bps(bit-per-sec)?

[2020-06-18 21:17] jiazhihao opened #29 "Python type error in flexflow_cbinding.py"
I encountered the following type error when training AlexNet with the most recent Python implementation. The command line to reproduce the failure is `./flexflow_python example/alexnet.py -ll:py 1 -ll:gpu 1 -ll:zsize 30000 -ll:fsize 10000`
[code]

[2020-06-18 22:27] eddy16112 commented on #29
Looks like you are using python2.7, the __array_interface__ I used is limited to python3.x

[2020-06-18 23:20] jiazhihao commented on #29
It seems when we didn't provide a path to PYTHON_LIB: https://github.com/flexflow/FlexFlow/blob/master/python/Makefile#L37, Legion will first try to find a path for python2 and then python3.

[2020-06-18 23:28] eddy16112 commented on #29
Yes, I had the same issue before on my machine. That's why I need to manually specify the PYTHON_LIB in the makefile.

[2020-06-18 23:46] jiazhihao commented on #29
@eddy16112 I pushed some code that attempts to automatically detect PYTHON_LIB path. https://github.com/flexflow/FlexFlow/blob/master/python/Makefile#L36-L63. It works on Sherlock and Summit. Can you give it a try and see if it works on your machine?

[2020-06-19 00:48] eddy16112 commented on #29
@jiazhihao I pushed a minor fix of the makefile, as my PYTHON_LIB is under lib64 not lib.
https://github.com/flexflow/FlexFlow/commit/5b69bb4b509a68e6fac897650c1afbe56e4ff53b

[2020-06-19 01:09] jiazhihao commented on #29
The changes look great to me.:-)

[2020-06-19 01:09] #29 closed

[2020-07-29 15:02] gudiandian opened #35 "How to train a model with multiple nodes in a cluster?"
Hi. I wish to use FlexFlow to train a model with multiple nodes in a cluster.

According to [your paper](https://cs.stanford.edu/~zhihao/papers/sysml19a.pdf), FlexFlow should support training with more than one node and each node has multiple GPUs in clusters. However, there is no documentation mentioning how to run FlexFlow training on multiple nodes.

Should there be more than one training proce

[2020-07-30 01:51] JiatianWu commented on #35
same here

[2020-07-30 10:59] yunzhongOvO opened #36 "Error while compiling the given example Inception"
Hi, I'm trying to run the examples, but having trouble compiling **Inception**. The error is as follows：
[code]
I have already installed FlexFlow according to `install.md`, and successfully compiled and run Alexnet, why doesn't Inception work?

[2020-07-30 17:59] jiazhihao opened #37 "cuDNN workspace not allocated through Legion/Realm interface"
This will cause out-of-memory issue when users allow Legion to allocate the entire GPU memory.

[2020-07-30 20:32] jiazhihao opened #38 "FlexFlow Release 2020.08"
List of TODOs for the next FlexFlow release:
- [x] Runtime support for [Loss](https://keras.io/api/losses/) and [Metrics](https://keras.io/api/metrics/) functions
- [x] FlexFlow Keras support for Loss and Metrics functions
- [x] Future plans for multiple work branches (stable for future releases, master for internal development)
- [x] unit tests and regression tests for FlexFlow
- [x] (Optional) F

[2020-07-31 07:14] jiazhihao commented on #35
@MonicaGu @JiatianWu Thanks a lot for your interests in FlexFlow. FlexFlow supports distributed training across multiple nodes as described in the paper. FlexFlow uses GASNet for communications and data transfers across nodes. See [instructions](http://legion.stanford.edu/gasnet) to install GASNet. After successfully installing GASNet, you will need to rebuild FlexFlow by setting `USE_GASNET` to 1

[2020-07-31 07:30] jiazhihao commented on #36
@kyrie2333 Thanks for using FlexFlow. I have pushed the missing file (inception.cu) to the master branch. You can do a git pull and rebuild the Inception application. Let me know if you run into any other issues.:-)

[2020-08-03 08:21] jiazhihao opened #39 "create_tensor -> create_input"
Currently both inputs and intermediate tensors are created using the following API:
Tensor FFModel::create_tensor(const int dims[],
                              const std::string& name,
                              DataType data_type,
                              bool create_grad)

This prevents the FlexFlow runtime from tracking which tensors are the original inputs. In the future, we should u

[2020-08-05 00:04] #39 closed

[2020-08-27 22:06] jiazhihao opened #40 "CMake support for FlexFlow"
Support CMake for both FlexFlow python @flexflow and FlexFlow C++ @jiazhihao

[2020-09-02 23:50] #40 closed

[2020-09-30 23:03] JiatianWu opened #47 "Build DLRM example"
Hi, I tried both `./ffcompile.sh examples/cpp/DLRM` and `cmake .. -DBUILD_DLRM=ON`, and they all lead to a failed building. Can you share the DLRM building flags? Thanks.

[2020-10-01 00:40] jiazhihao commented on #47
@JiatianWu Can you let us know which branch you used and what error message you saw? Thanks!

[2020-10-01 00:45] JiatianWu commented on #47
Yeah sure. I am using master branch, to run `./ffcompile.sh` I have to change the `Makefile.devgpu` to `Makefile` under DLRM and run `./ffcompile.sh examples/cpp/DLRM` but I got

[code]

By running `cmake .. -DBUILD_DLRM=ON`, I got:

[code]

[2020-10-01 01:05] jiazhihao commented on #47
@JiatianWu I have pushed the missing Makefile in DLRM to the master branch. You can do a git pull and give it a try. The recent CMake changes #46 haven't been merged to the master branch and we will trigger the merge very soon.

[2020-10-05 16:28] jiazhihao opened #48 "[Feature Request] Support gradient checkpointing in FlexFlow"
This feature request tracks the progress of supporting gradient checkpointing in FlexFlow. As a reference, the user API can be similar to PyTorch checkpointing: https://pytorch.org/docs/stable/checkpoint.html.

[2020-10-07 19:44] asharma20 commented on #6
I was able to solve this by setting the environment variable CUDA_HOME.
`export CUDA_HOME=/usr/local/cuda`

[2020-10-09 17:06] bhetherman opened #49 "cant make python api"
Following the directions on the installation page results in the following error:

Makefile:76: cannot find libpython3.6*.so - falling back to using LD_LIBRARY_PATH
/home/acc/FlexFlow/legion/runtime//runtime.mk:345: cannot find libpython3.6*.so - falling back to using LD_LIBRARY_PATH
/home/acc/FlexFlow/protobuf/bin/protoc --proto_path=/home/acc/FlexFlow/src/runtime strategy.proto --cpp_out=.
make:

[2020-10-09 17:10] bhetherman opened #50 "cant ffcompile examples/cpp/Resnet"
Get the following error when I try to compile resnet:

./ffcompile.sh examples/cpp/ResNet/
Use the FlexFlow protoc
make: *** No rule to make target '../../src/runtime/model.cc', needed by '../../src/runtime/model.cc.o'.  Stop.

[2020-10-09 19:18] eddy16112 commented on #50
The Makefile of ResNet is not up to date, now it should be fixed.

[2020-10-09 19:30] eddy16112 commented on #49
I guess you may need libpython-dev, but
First, check if you have libpython3.6.so in the folders of your LD_LIBRARY_PATH
Second, you can also try to export the following variables
export PYTHON_EXE=python3.6
export PYTHON_LIB=/usr/lib64/libpython3.6m.so.1.0 // change it to the path of your libpython
export PYTHON_VERSION_MAJOR=3

[2020-10-09 20:17] bhetherman commented on #49
libpython3.6.so was not in LD_LIBRARY_PATH so I added it. That lead to a whole bunch of c++ compile errors:

`make
/usr/bin/python /opt/FlexFlow/legion/runtime/../tools/generate_defines.py  -DLEGION_USE_CUDA -DLEGION_GPU_REDUCTIONS -DLEGION_USE_ZLIB -DLEGION_MAX_DIM=4               -c -i /opt/FlexFlow/legion/runtime/../cmake/legion_defines.h.in -o /home/acc/FlexFlow/python/legion_defines.h
/usr/bi

[2020-10-09 20:30] bhetherman commented on #50
the make file is not running but there are compilation errors:

/opt/FlexFlow/src/ops/softmax.cu(227): warning: variable "m" was declared but never referenced

resnet.cc: In function 'Tensor BottleneckBlock(FFModel&, Tensor, int, int)':
resnet.cc:39:84: error: no matching function for call to 'FFModel::conv2d(const char [6], Tensor&, int&, int, int, int, int, int, int, ActiMode)'
   Tensor t = ff.

[2020-10-09 21:00] eddy16112 commented on #50
We recently updated the API, but not updated the cpp examples. Please try again.

[2020-10-09 21:13] eddy16112 commented on #49
Looks like you can using two different versions of FlexFlow
I/opt/FlexFlow/include -I/opt/FlexFlow/protobuf/src -I/include -I/include -I/home/acc/FlexFlow/python

[2020-10-12 08:27] Tron-x opened #51 "CUDNN failure: CUDNN_STATUS_NOT_INITIALIZED"
hi , when i run the dlrm case, after complie, i execute "./dlrm -ll:gpu 2 -ll:cpu 4 -ll:fsize 10000 -ll:zsize 9000 -ll:util 2 --arch-sparse-feature-size 64 --arch-embedding-size 1000000-1000000-1000000-1000000-1000000-1000000-1000000-1000000 --arch-mlp-bot 64-512-512-64 --arch-mlp-top 576-1024-1024-1024-1 --epochs 20 --batch-size 64 -dm:memoize --strategy ../../../src/runtime/dlrm_strategy_gpu_2_n

[2020-10-12 18:03] jiazhihao commented on #51
A common cause of this failure is out-of-memory when initializing the cuDNN runtime. Can you change the `-ll:fsize 10000` to `-ll:fsize 9000` and give it another try. Currently, the cudnn work space (1GB by default) is not managed by FlexFlow. When FlexFlow allocated 10GB of device memory, it seems the cuDNN runtime cannot successfully allocate the remaining 1GB.

[2020-10-13 04:31] Tron-x commented on #51
Thank you, but then I ran into another problem. I'm not familiar with this code, so I still don't know how to solve it.
![image](https://user-images.githubusercontent.com/7659413/95815097-926a9200-0d4e-11eb-90f9-67fdb1113c28.png)

In addition, when I was learning code, I did not understand from the code level when the simulator and MCMC sampling were used, such as under the runtime folder simulato

[2020-10-13 06:02] #6 closed

[2020-10-14 04:07] bhetherman commented on #49
thanks for finding that. fixed that and fixed another protobuf issue and it built

[2020-10-14 04:07] #49 closed

[2020-10-14 04:12] bhetherman commented on #50
I pulled the new changes and now get these errors:

./ffcompile.sh examples/cpp/ResNet/
Use the FlexFlow protoc
/usr/bin/python3 /opt/FlexFlow/legion/runtime/../tools/generate_defines.py  -DLEGION_USE_CUDA -DLEGION_GPU_REDUCTIONS -DLEGION_USE_ZLIB -DDEBUG_LEGION -DLEGION_MAX_DIM=4                -c -i /opt/FlexFlow/legion/runtime/../cmake/legion_defines.h.in -o /home/acc/FlexFlow/examples/cpp/ResN

[2020-10-14 04:20] eddy16112 commented on #50
Please pull and try again.

[2020-10-14 04:34] bhetherman commented on #50
still getting a bunch of errors:

./ffcompile.sh examples/cpp/ResNet/
Use the FlexFlow protoc
/usr/bin/python3 /home/acc/FlexFlow/legion/runtime/../tools/generate_defines.py  -DLEGION_USE_LIBDL -DLEGION_USE_CUDA -DLEGION_GPU_REDUCTIONS -DLEGION_USE_ZLIB -DDEBUG_LEGION -DLEGION_MAX_DIM=4                -c -i /home/acc/FlexFlow/legion/runtime/../cmake/legion_defines.h.in -o /home/acc/FlexFlow/exampl

[2020-10-14 04:42] eddy16112 commented on #50
Sorry, I fixed the CC_FLAGS but forgot to fix the NVCC_FLAGS. Please try again

[2020-10-14 04:47] bhetherman commented on #50
no worries! appreciate the help since debugging this would take me much much longer! While that fixed the flag issues there are unfortunately still cpp isues with type conversion and an error where 'label' was not declared

resnet.cc: In function 'void top_level_task(const Legion::Task*, const std::vector<Legion::PhysicalRegion>&, Legion::Context, Legion::Runtime*)':
resnet.cc:81:52: error: no mat

[2020-10-14 05:09] eddy16112 commented on #50
Please try again.

[2020-10-14 06:27] bhetherman commented on #50
those issues were fixed but now there is some Realm issue. I checked that legion was at the commit hash 053b22f

./ffcompile.sh examples/cpp/ResNet/
Use the FlexFlow protoc
/usr/bin/python3 /home/acc/FlexFlow/legion/runtime/../tools/generate_defines.py  -DLEGION_USE_LIBDL -DLEGION_USE_CUDA -DLEGION_GPU_REDUCTIONS -DLEGION_USE_ZLIB -DDEBUG_LEGION -DLEGION_MAX_DIM=4                -c -i /home/acc/Fl

[2020-10-14 07:22] eddy16112 commented on #50
According to "`Realm::HDF5::HDF5Module::create_module", looks like the HDF5 is enabled, please make sure the USE_HDF in the makefile is set to 0.

[2020-10-14 16:00] #50 closed

[2020-10-14 16:34] bhetherman commented on #47
I just tried to build it and it does compile but it crashes when you try to run it

./examples/cpp/DLRM/dlrm -ll:gpu 2 -ll:fsize 24000 -ll:zsize 8000 --epochs 5 --batch-size 16 --search_budget 1000

[0 - 7f73b946afc0]    4.454607 {3}{Mapper}: No strategy file provided. Use default data parallelism.
[0 - 7f73b946afc0]    4.455187 {3}{DLRM}: batchSize(16) workersPerNodes(2) numNodes(1)
[0 - 7f73b946

[2020-10-19 07:15] Tron-x opened #52 "Run dlrm case erro"
when i run the dlrm case, i encounter another problem. I'm not familiar with this code now, so I still don't know how to solve it.
![image](https://user-images.githubusercontent.com/7659413/96413149-cc8bd600-121d-11eb-81fc-8a2c81d65a16.png)
In addition, when I was learning code, I did not understand from the code level when the simulator and MCMC sampling were used, such as under the runtime folde

[2020-10-19 22:41] jiazhihao commented on #52
Can you show us the command line you used to launch DLRM? It seems like you forgot the set GPU flags (e.g., `-ll:gpu`, `-ll:zsize`). This might be a useful blog post that describes how to use the optimizer: https://flexflow.ai/search/

[2020-10-20 16:21] Tron-x commented on #52
command line is:
./dlrm -ll:gpu 2 -ll:cpu 4 -ll:fsize 8000 -ll:zsize 20000 -ll:util 2 --arch-sparse-feature-size 64 --arch-embedding-size 1000000-1000000-1000000-1000000-1000000-1000000-1000000-1000000 --arch-mlp-bot 64-512-512-64 --arch-mlp-top 576-1024-1024-1024-1 --epochs 20 --batch-size 128 -dm:memoize --strategy ../../../src/runtime/dlrm_strategy_gpu_2_node_1.pb

[2020-10-21 16:42] bhetherman opened #53 "Cant add batch_norm to cpp ResNet model"
When I add a batch_norm layer to the ResNet model (see code below) I get a runtime error. There are no errors during compilation, just when I try to run but I'm not sure how to fix it based on the error message.

Starting at line 92 in function top_level_task of resnet.cc:

`  // Add layers`
`  Tensor t = input;`
`  t = ff.conv2d(input, 64, 7, 7, 2, 2, 3, 3);`
`  t = ff.batch_norm(t, false); //I a

[2020-10-21 23:14] jiazhihao commented on #53
Hi @bhetherman, the issue should have been fixed by commit 31fd3d3bf6.

[2020-10-22 03:57] bhetherman commented on #53
Thanks @jiazhihao that fixed the issue

[2020-10-22 03:57] #53 closed

[2020-10-22 18:40] jiazhihao opened #54 "Potential Features"
Here is a list of feature requests discussed during the FlexFlow office hour on Oct 22.

- [ ] Include additional information in strategy configurations, such as the DNN model architecture and machine topology information.
- [ ] Enable a way to simulate hardware that are not accessible
- [ ] Enhance GPU-DRAM or GPU Direct support
- [ ] Plan to support multi-stream optimizations

[2020-10-27 12:33] Tron-x opened #56 "dlrm case erro"
when i run the dlrm case, i encounter another problem.
![image](https://user-images.githubusercontent.com/7659413/97302108-91c81480-1893-11eb-9cec-910011b777e9.png)
command line is:
./dlrm -ll:gpu 2 -ll:cpu 4 -ll:fsize 8000 -ll:zsize 20000 -ll:util 2 --arch-sparse-feature-size 64 --arch-embedding-size 1000000-1000000-1000000-1000000-1000000-1000000-1000000-1000000 --arch-mlp-bot 64-512-512-64 --ar

[2020-10-29 19:07] bhetherman opened #57 "fp16 training"
Does flexflow support fp16 training? If so, how do I enable it and take advantage of Tensor Cores?

Thanks!

[2020-11-02 14:02] ainarain-pl opened #58 "Running on multiple nodes using GASNet UDP conduit"
Hi,

So I have two connected nodes, both of which have Flexflow and GASNet installed. I setup GASNet and AlexNet on both nodes the following way.

GASNet:

1. Navigate to the directory where gasnet is installed.
2. Run `./configure --enable-segment-fast --disable-pshm --with-max-segsize=16GB --disable-seq --disable-parsync --enable-udp --enable-mpi-compat --disable-mpi --disable-aligned-segments -

[2020-11-02 14:45] fdouglis commented on #58
This sounds more like a GASNet bug (or issue) and perhaps orthogonal to FlexFlow.  But  I suggest you post a link to this in the Legion slack if you haven't already, and maybe those on Legion who have worked closely with GASNet will have suggestions.

[2020-11-02 18:01] bhetherman opened #59 "Owner Op incorrect"
Tensor t = ff.conv2d(input, out_channels, 1, 1, 1, 1, 0, 0, AC_MODE_NONE); //owner is null
t = ff.batch_norm(t, false); //owner is Conv2d_11_100
t = ff.relu(t); //owner is Conv2d_11_100 but should be batch norm

Any idea why the owner ops are not propagating to the model layers correctly? It seems to be something with batch_norm because all the other layers are working?

[2020-11-02 18:02] bhetherman opened #60 "tensor owner op incorrect"
Tensor t = ff.conv2d(input, out_channels, 1, 1, 1, 1, 0, 0, AC_MODE_NONE); //owner is null
t = ff.batch_norm(t, false); //owner is Conv2d_11_100
t = ff.relu(t); //owner is Conv2d_11_100 but should be batch norm

Any idea why the owner ops are not propagating to the model layers correctly? It seems to be something with batch_norm because all the other layers are working?

[2020-11-02 18:34] bhetherman commented on #60
Also i mean the owner ops of the input tensor

[2020-11-02 20:18] eddy16112 commented on #60
Are you sure you print the owner_op in the correct position of the code? Did you print t.owner_op after batch_norm? I can not reproduce the bug. Here is how the owner_op is set https://github.com/flexflow/FlexFlow/blob/master/src/runtime/model.cc#L151
I can not see why it works for others except batch_norm.

[2020-11-02 20:21] eddy16112 commented on #58
Have you tried the MPI conduit? If the MPI conduit works, then I guess the bug might be related to the UDP conduit itself or the configuration of GASNet.

[2020-11-02 20:35] bhetherman commented on #60
I added a print out where the best strategy is printed https://github.com/flexflow/FlexFlow/blob/3cb24aa54ad2ff98769671eda6c14b2eff1c71c2/src/runtime/model.cc#L1106

printf("inputs[");
    for (int i = 0; i < it->first->numInputs; i++){
      if(it->first->inputs[i].owner_op != NULL){
        if (i < it->first->numInputs - 1)
          printf("%s,", it->first->inputs[i].owner_op->name);
        el

[2020-11-05 14:22] bhetherman commented on #60
Im still seeing this issue.

If you change the best strategy print out to be:
[code]

This is what i see:
=========== Best Discovered Strategy ==========
[Conv2D_77_100] num_dims(4) dims[1,1,1,1] device_ids[0] inputs[]
[BatchNorm_101] num_dims(4) dims[1,1,1,1] device_ids[0] inputs[**Conv2D_77_100**]
[ElementUnary_1_102] num_dims(4) dims[1,1,1,1] device_ids[0] inputs[**Conv2D_77_100**]
...

When it

[2020-11-05 18:08] bhetherman opened #61 "Adding measure compute time to Batch_Norm or Relu Ops"
Is there any plan to add measure compute time implementations to the Batch_Norm or ElementUnary ops? It seems like while they are really fast ops there is still some time associated with them that could be factored in. Was there some reason they arent in there? Or was it just to save time to work on the other ops? Thanks!

[2020-11-05 19:20] jiazhihao commented on #60
@bhetherman The bug should have been fixed in commit 20752e12

[2020-11-05 20:51] bhetherman opened #62 "resnet example performance issues"
When running the resnet cpp example on a single V100 GPU with batch_size of 16 (I assume its fp32 as well since FlexFlow doesnt seem to have an fp16 option as far as I know) I'm seeing throughput of 30-32 samples per second. This means an iteration time of about 500ms.

In pytorch I get an iteration time for fp32, batch 16 and same input size of 58ms. Thats a pretty large ~10x discrepancy. Is an i

[2020-11-05 21:31] jiazhihao commented on #62
@bhetherman One thing it check first is whether you built FlexFlow in debug or release mode (debug is the default). Can you verify that `DEBUG` is set to 0 in the Makefile?

[2020-11-05 21:38] bhetherman commented on #62
@jiazhihao Good call, i thought it was 0 but looks like it was 1. Ill get back to you with new numbers soon

[2020-11-05 21:52] bhetherman commented on #62
@jiazhihao just rebuilt and ran the network. That was definitely a huge part of the issue. Now Im seeing throughput of about 93-94 samples/s. So about 170ms per iteration, so not 10x slower but still about 3x.

Any other tips or tricks?

Ps I just using synthetic data right now

[2020-11-05 23:39] bhetherman commented on #60
This is fixed, Thanks @jiazhihao !

[2020-11-05 23:39] #60 closed

[2020-11-09 19:29] jiazhihao commented on #62
@bhetherman Sorry that I didn't get back to you on this last week. Which ResNet example did you used (C++ or Python one)? There shouldn't be observable performance difference between FlexFlow and PyTorch on a single GPU.

[2020-11-09 21:09] bhetherman commented on #62
@jiazhihao no worries. Im using the C++ resnet example on a single V100

[2020-11-12 15:36] bhetherman commented on #62
@jiazhihao still having performance issues, can you share what kind of throughput/iteration times you are seeing for the cpp resnet example? Thanks.

[2020-11-12 22:13] jiazhihao commented on #62
@bhetherman I tried this on a V100 GPU (with CUDA 9.2 and cuDNN 7.5). With a batch size of 16, the training throughput is 210 images/second. The per-iteration execution time is 76ms. The simulator predicts a per-iteration runtime of around 50ms, which means there is a non-negligible runtime overhead for running ResNet. One potential cause is that when per-operator execution time is small (e.g., us

[2020-11-13 21:18] bhetherman commented on #62
@jiazhihao Ok I think I identified the issue. It seams the batch norm layer causes a large performance drop on its own. But I was also separating out the relu into another layer which caused an even further performance drop.

For 1 V100, batch 16:
Just Conv layer: 214.38 samples/s
Conv layer + batch norm layer: 140 samples/s
Conv layer + batch norm layer + Relu layer: 120 samples/s

Do you think i

[2020-11-16 21:14] jiazhihao opened #63 "Start MCMC search form an imported strategy"

[2020-11-19 21:39] jiazhihao opened #66 "FlexFlow Release 2020.12"
List of TODOs for the next FlexFlow release:
- [x] Docker images for stable builds
- [ ] Conda installation
- [x] Website Improvement
- [x] Documentations
- [x] NCCL integration
- [x] CMake for stable builds
- [x] Support for PyTorch FX models and ONNX
- [ ] Spack package for FlexFlow

TODOs for future releases
- [ ] (Optional) Scalability tests
- [ ] TensorBoard support using [TensorBoardX](https

[2020-11-20 08:46] bhetherman opened #67 "Runtime Hangs when Running ResNet at larger batch sizes"
When running the resnet model with a batch size of 128. The runtime hangs when it gets to the training loop. It seems to have something to do with legion because if I remove 'runtime->begin_trace(ctx, 111/*trace_id*/);' and 'runtime->end_trace(ctx, 111/*trace_id*/);' and launch the file with the '-lg:inorder' it will get through the runtime ok. But I imagine there is a performance hit from using '

[2020-11-24 18:25] jiazhihao commented on #59
The issue should have been fixed. @bhetherman Let me know if you still observe the same error and I will reopen this.

[2020-11-24 18:25] #59 closed

[2020-11-25 05:51] jiazhihao commented on #67
@bhetherman I was able to reproduce the issue on my end. The issue is related to how FlexFlow/Legion switches GPU threads. Can you add `-ll:streams 1` to your command line and see if this can fix the issue?

[2020-12-03 04:08] wyg1997 opened #69 "Can not compile any example"
I compile codes with [INSTALL.md](https://github.com/flexflow/FlexFlow/blob/master/INSTALL.md).

But when I run `./ffcompile.sh examples/cpp/AlexNet/` (or other example), I will get

[code]

[2020-12-07 09:17] wyg1997 commented on #69
I solve it when degrade my gcc and g++ from 7.5 to 5.5.

[2020-12-07 09:17] #69 closed

[2020-12-08 00:11] aoranwu opened #70 "Getting errors when building FlexFlow"
Hi,

I try to build FlexFlow runtime following the instructions. When running "./ffcompile.sh examples/cpp/InceptionV3", there are some errors occurring:

/usr/lib/gcc/x86_64-linux-gnu/7/include/avx512fintrin.h(1761): error: identifier "__builtin_ia32_sqrtsd_round" is undefined

/usr/lib/gcc/x86_64-linux-gnu/7/include/avx512fintrin.h(1770): error: identifier "__builtin_ia32_sqrtss_round" is undefi

[2020-12-08 06:33] aoranwu commented on #70
The command causing this error is
[code]
So that error happens when trying to use nvcc to compile simulator.cu

Any help would be appreciated. Thanks!

[2020-12-08 11:14] mir-of commented on #20
Launch the alexnet example like this:
[code]

Got the same error:
[code]
My GPU is TITAN V(12GB)

[2020-12-18 00:06] jiazhihao opened #71 "Building FlexFlow Python library"
This issue tracks the progress of supporting a FlexFlow runtime library for native python interpreter. FlexFlow's python support is largely based on the Legion python bindings: https://github.com/StanfordLegion/legion/tree/stable/bindings/python.

The Legion python bindings include a customized python interpreter for execution leaf tasks implemented in Python. In contrast, FlexFlow mainly use pyth

[2020-12-24 11:46] ghostplant opened #72 "Error reproducing MLSys19 optimizing strategies"
Branch Used - sysml19_ae

[code]

[2020-12-25 13:20] ghostplant commented on #72
According to the source code. The strategy file is even not loaded into the program?

[2020-12-26 06:08] ghostplant commented on #72
I think the experiment code has some errors:

1) The strategy file is even not loaded into the program, and the following flexflow code doesn't even read what the detailed strategy is. So it means no matter what strategies I choose, the experiment always have same parallism results.

2) Resnet strategy searched by Flexflow doesn't have any benifit that tranditional data parallism, right?

[2020-12-26 06:18] ghostplant commented on #14
@bhetherman I compare the Resnet strategies. The optimal strategy is the same as data parallel strategy.

[2020-12-26 06:42] ghostplant commented on #72
This is solved by fixing an improper compiling flags.

[2020-12-26 06:42] #72 closed

[2020-12-26 06:53] ghostplant opened #73 "FlexFlow Performance of Alexnet drastically drops in Multi-GPU"
Environment CUDA V100-PCIE:

FlexFlow-AlexNet (1GPU):
-  data-parallel: 1172.39 samples/s
-  optimized:     2005.06 samples/s

FlexFlow-AlexNet (2GPU):
-  data-parallel:  840.98 samples/s
-  optimized:     2000.77 samples/s

FlexFlow-AlexNet (4GPU):
-  data-parallel:  331.25 samples/s
-  optimized:     1444.97 samples/s

Tensorflow-AlexNet (1GPU):
-  data-parallel:  3079.8 samples/s

Tensorflow-Al

[2020-12-27 06:46] Terex12 commented on #70
I encountered a similar error when I used g++/gcc7. I think you can use a different version of g++/gcc. When I switched to g++/gcc6, the error disappeared.

[2020-12-28 12:14] ghostplant commented on #62
@bhetherman Have you tried AlexNet with multiple nodes? Is it faster than single node?

[2020-12-29 08:07] jiazhihao commented on #73
@ghostplant It seems you have been using the sysml19 branch. It is outdated. Can you retry the master branch and see if you still observe the same performance issue? This is a tutorial for auto-tuning strategies: https://flexflow.ai/search/

[2020-12-29 10:55] ghostplant commented on #73
Thanks, but I think the number on P100 is OK, so it shouldn't be the environmental problem.
Do you have the optimal result of AlexNet number for V100 officially that is reproducible on master branch?

In the current master branch, I didn't find the identical script to reproduce the mlsys19.

[2020-12-30 08:57] jiazhihao commented on #73
I have tested the AlexNet implementation in the master branch (https://github.com/flexflow/FlexFlow/tree/master/examples/cpp/AlexNet) on V100 GPUs. The throughput numbers (with a per-GPU batch-size of 256 and the optimized strategies).

- 1GPU: 3999.13 samples/second
- 2GPUs: 7964.90 samples/second
- 4GPUs: 15085.76 samples/second

[2021-01-01 17:50] ghostplant commented on #73
@jiazhihao The performance is great. Can you explain how to build that cpp folder? I have tried many different ways but all failed with errors. Like:
1) I build the docker image `ff:v1`, then `./ffcompile.sh examples/cpp/AlexNet` tells me it only allows directory that contains `Proto Buffer`.
2) I goto directory `examples/cpp/AlexNet`, whatever `cmake .` and `make` will fail for `No rule to make t

[2021-01-04 23:05] jiazhihao commented on #73
@ghostplant Both Makefile and CMake should work. You can find more detailed instructions [here](https://github.com/flexflow/FlexFlow/blob/master/INSTALL.md).

For 1, can you copy paste the exact error message? Also, can you check that you have `strategy.pb.h` and `strategy.pb.cc` in `src/runtime`. It seems like something went wrong when you generated protocol buffer files.

For 2, can you confirm

[2021-01-08 08:04] Orion-wyc commented on #14
As mentioned in the paper: for ResNet-101, FlexFlow finds strategies similar to data parallelism (except using model parallelism on a single node for the last fully- connected layer) and therefore achieves similar paral- lelization performance.

Actually, DP performs well on ResNet and other strategies brings little improvement.

So, have you tested strategies with some other DNNs?

[2021-01-08 09:26] ghostplant commented on #14
@Orion-wyc The best option strategy I found for Alexnet is to keep conv/pool layers in DP mode, while the following dense layers is executed on a single device. But I don't find some examples that cutting on either C, H, W axis in a NCHW-format tensor will contribute good performance in flexflow.
Anyone who has seen cutting C, H, or W can contribute to the best performance?

[2021-01-14 21:36] jiazhihao opened #78 "Plan for the FlexFlow release 2021.3"
CI Infrastructures:
- [x] Build tests and CircleCI configurations: Efrain
- [ ] Finish unitests for individual operators (potentially use the Python interface): Efrain, Wei
- [x] Performance unitests again existing tensor libraries (PyTorch): Efrain
- [x] Accuracy tests for vision models and language models: Vinay, Wei
- [x] Multi-GPU performance tests (1-4GPUs): Nirmal

Runtime improvements:
- [x

[2021-02-18 00:12] Efrainq07 opened #98 "Problem running FFConfig after installing Python FlexFlow"
After installing Flexflow again and trying to test with the examples there was an error particularly when trying to call `FFConfig()`
![image](https://user-images.githubusercontent.com/33973526/108284751-6e2f1f80-714b-11eb-802f-7b5f4b941144.png)

There were no errors when building so the only problem appeared at the end when testing flexflow. Notice that the library can be imported with no problem

[2021-02-18 00:17] eddy16112 commented on #98
This is not how flexflow python support works. Here is the instruction of how to build the flexflow python.
https://github.com/flexflow/FlexFlow/blob/master/INSTALL.md#build-flexflow-runtime-with-python-interface-c-interface-is-also-enabled

This script shows how to run the flexflow python examples
https://github.com/flexflow/FlexFlow/blob/master/python/test.sh

[2021-02-18 00:57] Efrainq07 commented on #98
Sorry, forgot to mention when I set the environment variables. I edited the issue with that, I pretty much followed the steps on that link you mentioned. I had already done the installation the same way before and ran the examples.

[2021-02-18 01:27] eddy16112 commented on #98
You can not run your python program with the native python interpreter (python script.py), instead, you will need to use flexflow_python, just check this script https://github.com/flexflow/FlexFlow/blob/master/python/test.sh

[2021-02-18 18:12] Efrainq07 commented on #98
That was the solution thanks.

[2021-02-18 18:12] #98 closed

[2021-02-25 00:32] Efrainq07 opened #100 "Error when importing from flexflow.torch.model"
![image](https://user-images.githubusercontent.com/33973526/109084867-333e6600-76ce-11eb-93f2-a88b1c8fcd4f.png)
I was trying to run the `$FF_HOME/examples/python/pytorch/resnet.py` file but this error appeared. Upon further inspection I found that the same error happens if you just run `from flexflow.torch.model import PyTorchModel`.

I had found this error before when trying to run `import torch`

[2021-02-25 01:08] eddy16112 commented on #100
That is because the CUDA portion of the torch is conflicted with Legion runtime. You can try to install the cpu only torch, and it will solve your problem.

[2021-02-25 20:29] Efrainq07 commented on #100
I did `conda install pytorch-cpu torchvision-cpu -c pytorch-nightly` in order to install cpu only torch but this error appears:
`ModuleNotFoundError: No module named 'torch.fx'`
I understand `fx` is only available on the nightly build of pytorch and I guess it's not yet included on the cpu only version.
Is there a recommended pytorch build to run `$FF_HOME/examples/python/pytorch/resnet.py`?

[2021-02-25 20:36] eddy16112 commented on #100
I can not remember whether I use conda or pip. Can you please try to use pip?
pip install --pre torch torchvision torchaudio -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
I am not sure if torch.fx has been moved into stable release, but it is already in the nightly release.

[2021-03-01 17:30] Efrainq07 commented on #100
That build solved the issue, thanks.

[2021-03-01 17:30] #100 closed

[2021-03-02 21:11] Efrainq07 opened #102 "Assertion `batch_size == meta->num_samples' failed when trying to run flexflow with more than 2 GPU's"
I ran the next line on `$FF_HOME/python` with the script found on the examples folder `$FF_HOME/examples/python/pytorch/resnet.py`:
`./flexflow_python $FF_HOME/examples/python/pytorch/resnet.py -ll:py 1 -ll:gpu 2 -ll:fsize 14000 -ll:zsize 12192 --epochs 2 --batch-size 30 -lg:no_trace_optimization`
And this error appeared:
`flexflow_python: flexflow_dataloader.cu:132: static void SingleDataLoader::

[2021-03-02 23:25] eddy16112 commented on #102
I am sorry I can not reproduce the bug. I run the resnet like this and it runs fine.
./flexflow_python ../examples/python/pytorch/resnet.py -ll:py 1 -ll:gpu 2 -ll:fsize 2048 -ll:zsize 12192 -b 30
Can you please print the batch_size and num_samples before the assert?

[2021-03-02 23:32] eddy16112 commented on #102
One thing I would like to mention is when you creating a tensor
input = [ffconfig.get_batch_size(), 3, 229, 229],
You will need to use `ffconfig.get_batch_size()`, instead of hard coding the batch size, because the batch size will always be read from the cmd line.

[2021-03-05 19:01] aowen14 opened #110 "Mailing List"
In the README, it notes for Contributing:

"Please subscribe to the FlexFlow users mailing list for", but it doesn't include a way to join said mailing list. Is there a mailing list or other form of community to join?

[2021-03-11 17:03] jiazhihao commented on #110
Thanks for your interests! Please join FlexFlow's mailing list: flexflow@googlegroups.com if you are interested in receiving FlexFlow updates. You can also join our [slack channel](https://join.slack.com/t/flexflowgroup/shared_invite/zt-njx37ylh-qBPvaRDs7c1yrysK9KMEqg) for posting FlexFlow-related questions.

[2021-03-11 17:03] #102 closed

[2021-03-12 21:07] #110 closed

[2021-03-15 09:16] lockshaw opened #129 "Error on onnx resnet.py example"
Running the onnx resnext.py example with the following command:
[code]
outputs the error message:
[code]

[2021-03-18 17:43] aowen14 commented on #110
Thanks!

[2021-03-25 06:02] jiazhihao opened #138 "FlexFlow Namespace"
This issue tracks the progress on improving the FlexFlow C++ interface by reorganizing the header files in the FlexFlow namespace.

[2021-03-25 08:07] eddy16112 opened #139 "Segfault with PyBind11 native python"
Run python ../examples/python/native/mnist_cnn.py -ll:py 1 -ll:gpu 1 -ll:fsize 2048 -ll:zsize 12192
Then there is a segfault.
Here is the stack trace:
#0  0x00002b51b360985d in nanosleep () from /lib64/libc.so.6
#1  0x00002b51b36096f4 in sleep () from /lib64/libc.so.6
#2  0x00002b51e0f45d26 in Realm::realm_freeze (signal=11) at /home/wwu/flexflow-cmake/deps/legion/runtime/realm/runtime_impl.cc:167

[2021-03-25 15:51] eddy16112 commented on #139
my mistake, I should not add -ll:py 1

[2021-03-25 15:51] #139 closed

[2021-03-26 03:22] msbaines commented on #139
I knew about this. I will add code to print an error when the user passes -ll:py

[2021-03-27 06:47] eddy16112 opened #149 "Tanh and embedding_avx2 ops are outdated"
Looks like the ops/tanh.cu and ops/embedding_avx2.cc are never added to the CMake/Makefile, and the declaration of Tanh is not in the model.h.

[2021-03-27 20:15] jiazhihao commented on #149
These two are outdated. tanh.cu should be removed, and I will update embedding_avx2.cc to make it compatible with the new operator interface.

[2021-03-27 20:28] eddy16112 commented on #149
Thanks for letting me know. Do not worry, I can try to work on updating the embedding_avx2.

[2021-03-28 05:18] MiZhangWhuer commented on #20
The same error in my Tesla V100 machine. Have you solved the error?

[2021-03-28 06:14] jiazhihao commented on #20
You will need to set a larger value for `-ll:zsize`. Note that `-ll:zsize` is the DRAM allocated by FlexFlow, so it can be larger than your GPU memory capacity. We will improve the error message to make it more informative.

[2021-03-28 08:13] MiZhangWhuer commented on #72
How do you solve this problem? Can you provide some instructions?

[2021-03-28 16:29] MiZhangWhuer opened #154 "error occur when executing with pytorch interface"
I've successfully compile the entire project from source code and everything goes well with the scripts in python/native/ folder. However, when running with PyTorch as the front end like this:

python/flexflow_python examples/python/pytorch/resnet.py -ll:py 1 -ll:gpu 1 -ll:fsize 24000 -ll:zsize 15000 --epochs 10

The error occurs:
[0 - 7ff6a4e9da40]    2.538880 {5}{gpu}: ERROR: The binary was comp

[2021-03-28 19:14] eddy16112 commented on #154
You will need to make sure GPU_ARCH matches your GPU. Here is the list of compute compatibility https://en.wikipedia.org/wiki/CUDA.

[2021-03-28 19:14] eddy16112 commented on #149
Fixed.

[2021-03-28 19:14] #149 closed

[2021-03-29 01:24] MiZhangWhuer commented on #154
Thanks for the repaid replay. According to your instruction, I found that Tesla V100 has the computation compatibility of 70. I set the GPU_ARC to 70, but in vain. Do you have any other suggestion?

[2021-03-29 01:34] MiZhangWhuer commented on #19
Hi, zhihao, which part do you fixed? Can you provide more details?

[2021-03-29 01:58] MiZhangWhuer opened #155 "CUDA assert error"
Description:
When running the following code using native python script, the cuda assert error occurs after several epoches.

python/flexflow_python examples/python/native/resnet.py -ll:py 1 -ll:gpu 1 -ll:fsize 16000 -ll:zsize 15000 --epochs 10

The error message is as follows:

metrics_functions/metrics_functions.cu:78: void update_metrics_sparse_label_kernel(const float *, const int *, PerfMetri

[2021-03-29 02:05] eddy16112 commented on #154
GPU_ARCH not GPU_ARC

[2021-03-29 02:14] MiZhangWhuer commented on #154
Thanks for the replay. Another question is the GPU assertion error when executing native python script. Could you give me some advices?

https://github.com/flexflow/FlexFlow/issues/155

[2021-03-29 04:00] MiZhangWhuer commented on #155
By adding the commanline -ll:streams 1, the problem is solved. Hope this can help the followers.

[2021-03-29 04:00] #155 closed

[2021-03-29 09:29] MiZhangWhuer opened #157 "Strategy searching import error: Invalid color space color for child 1 of logical partition (508,304,606)"
Great work! I tried to use the auto-tuning by searching the strategy as follows:

    python/flexflow_python examples/python/native/inception.py -ll:py 1 -ll:gpu 4 -ll:fsize 26000 -ll:zsize 55000 --epochs 10 -ll:streams 1 --search-budget 20000   --export-strategy ./strategy_folder/inception_strategy.pb --enable-parameter-parallel --enable-attribute-parallel

When the trained strategy is loaded:

[2021-03-30 01:23] jiazhihao commented on #157
Can you share with us the tuned strategy file `./strategy_folder/inception_strategy.pb`

[2021-03-30 10:36] MiZhangWhuer commented on #157
Thanks for the replay. Here is the strategy file :
[inception_strategy.zip](https://github.com/flexflow/FlexFlow/files/6228336/inception_strategy.zip)

[2021-03-31 21:36] Efrainq07 opened #161 "Operator Unit tests documentation"
Hello, I noticed the documentation for running the operator unit tests [here](https://github.com/flexflow/FlexFlow/blob/master/tests/ops/test_readme.md) seems to be outdated and made for the DLRM repo. One of the issues is that the Makefile mentioned there is no longer on the main folder.
Where has this file been moved to? Or what is the recommended way to run those tests?
I can update that readme

[2021-04-07 16:53] dl-guey opened #166 "FlexFlow Memory Errors"
I'm trying to run FlexFlow on extremely large images, but I'm facing issues with training. I'm able to run the example models and my own implementations of ResNet, but larger images (3x2048x2048) across multiple V100 GPUs (4) fails. I know that these models should be trainable on my system, since I can train this exact model/data combination with other distributed frameworks.

When I specify a sma

[2021-04-13 07:56] MiZhangWhuer commented on #166
Hi, I meet the similar issue. I solved it by re-placing the input tensor into batch (sample) dimension. i.e., 3x2048x2048 to 16x3x512x512. This operation is an equalized operation because it distributes the large tensor onto different devices. According to the FlexFlow's presented paper. It always includes the sample dimension and performs auto-parallel along OAP dimensions. You can try it out on

[2021-04-13 08:08] MiZhangWhuer opened #170 "Question on FlexFlow's paper"
Thanks for the great work! I've carefully read the paper "BEYOND DATA AND MODEL PARALLELISM FOR DEEP NEURAL NETWORKS" and some part confused me a lot.

In the Figure 4(c), how does the values of 'r' and 's' are calculate? And how the delta simulation is perform from Figure 4(c) to Figure 4(d)? When the rectangle r:5 s:5 is eliminated in Figure 4(c), why the r:3 s:3 becomes r:5 s:5 and r:4 s:4 is c

[2021-04-23 09:57] Tron-x opened #175 "Configuring incomplete, errors occurred!"
When I installed flexflow using this linked tutorial
https://github.com/flexflow/FlexFlow/blob/master/INSTALL.md

CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
Please set them or make sure they are set and tested correctly in the CMake files:
CUDA_CUDA_LIBRARY (ADVANCED)
    linked by target "RealmRuntime" in directory /data/FlexFlow/deps/legion/runti

[2021-04-23 19:57] eddy16112 commented on #175
Could you please paste the entire cmake message here? It looks like the CUDA LIBRARY is not found.

[2021-04-25 06:38] Tron-x commented on #175
Defaults for Linux machine
cmake -DCUDA_USE_STATIC_CUDA_RUNTIME=OFF -DCMAKE_BUILD_TYPE=Debug -DFF_CUDA_ARCH=75 -DCUDA_PATH=/data/cuda/cuda-10.1/cuda -DCUDNN_PATH=/data/cuda/cuda-10.1/cudnn/v7.6.3 -DFF_USE_PYTHON=ON -DFF_USE_NCCL=ON -DFF_USE_GASNET=OFF -FF_BUILD_EXA
MPLES=OFF -DFF_USE_AVX2=OFF -DFF_MAX_DIM=4 ../config/../
-- The C compiler identification is GNU 7.4.0
-- The CXX compiler identificat

[2021-04-25 06:40] Tron-x commented on #175
config.linux

#!/bin/bash

echo " Defaults for Linux machine"

# set the CC and CXX, usually it is not needed as cmake can detect it
# set CC and CXX to mpicc and mpic++ when enable gasnet
# CC=mpicc
# CXX=mpic++

# add flags if needed
#CC_FLAGS=${CC_FLAGS+=""}
#NVCC_FLAGS=${NVCC_FLAGS+=""}
#LD_FLAGS=${LD_FLAGS+=""}

# set build type
BUILD_TYPE=Debug

# set CUDA Arch, replace xx with your GPU arch

[2021-04-25 07:01] eddy16112 commented on #175
Looks like the cmake uses the python2.7, and it is not supported by FlexFlow. It is recommended to create a conda env with python>=3.6 for FlexFlow.

[2021-04-25 07:14] Tron-x commented on #175
-- Found PythonInterp: /usr/bin/python (found version "3.6.9")
-- Found PythonLibs: /usr/lib/x86_64-linux-gnu/libpython3.6m.so (found version "3.6.9")
CMake Warning (dev) at deps/legion/CMakeLists.txt:246 (find_package):
  Policy CMP0074 is not set: find_package uses <PackageName>_ROOT variables.
  Run "cmake --help-policy CMP0074" for policy details.  Use the cmake_policy
  command to set the pol

[2021-04-25 07:45] Tron-x commented on #175
Looks like the legion library was not found？

[2021-04-25 09:17] eddy16112 commented on #175
Looks like the Legion CMake can not find CUDA_CUDA_LIBRARY, but I do not understand why it happens. Based on your previous output, FlexFlow already finds the CUDA. Even though FlexFlow and Legion find CUDA separately, they both use the built-in FindCUDA.cmake. After googled the "CUDA_CUDA_LIBRARY", I think one solution is to use ccmake and manually set it to /data/cuda/cuda-10.1/cuda/lib64/stubs/l

[2021-04-26 09:36] Tron-x commented on #175
![image](https://user-images.githubusercontent.com/7659413/116061711-c6d3e900-a6b5-11eb-8f4f-22ffdea82302.png)
so  What is the problem?

[2021-04-26 16:09] eddy16112 opened #177 "Multiple definition of Aggregate, AggregateSpec and Group_by"
These operators are both implemented in .cc and .cu. If we want to support them on both CPU and GPU, they are not implemented in the correct way.

[2021-04-26 16:17] eddy16112 commented on #175
Please pull and try again.

[2021-04-26 18:02] #177 closed

[2021-05-11 04:06] knagrecha opened #185 "Tracethrough fails with complex (multiple) inputs"
fx.torch_to_flexflow fails on the tracethrough as it doesn't seem to account for the possibility of multiple inputs. My model (an implementation of BERT-Large), needs two inputs - token type input and regular input. However, FlexFlow fails here:

fx.torch_to_flexflow(model_obj, "mymodel.ff")

Are there any workarounds, or problems in my approach?

[2021-05-11 06:14] knagrecha commented on #185
Perfect, I think I must have missed the notes on how to apply the models effectively with PyTorch. The examples all use different approaches. Thanks for showing me the way!

[2021-05-12 21:17] eddy16112 opened #186 "Legion duplicate registration warning when using pybind11 backend."
I got the following warnings when using pybind11 with Legion python interpreter.

[0 - 2ac38bc3b240]    0.575784 {4}{gpu}: duplicate registration of function _Z17init_label_kernelPix
[0 - 2ac38bc3b240]    0.575818 {4}{gpu}: duplicate registration of function _Z17init_image_kernelPfx
[0 - 2ac38bc3b240]    0.575824 {4}{gpu}: duplicate registration of function _Z15apply_normalizePfPKhmm
[0 - 2ac38bc3

[2021-05-13 03:40] knagrecha opened #187 "torch.split not recognized when running PyTorch CIFAR-10 examples"
I'm trying to run the [cifar10_cnn_torch.py ](https://github.com/flexflow/FlexFlow/blob/master/examples/python/pytorch/cifar10_cnn_torch.py) code, but am running into an issue where the converter does not recognize the torch.split function used in the example. Here is the precise error:

    Traceback (most recent call last): File "FlexFlowTest.py", line 42, in <module>

    fx.torch_to_flexflow(m

[2021-05-13 03:45] knagrecha commented on #187
@eddy16112 , could this be related to [your commit](https://github.com/flexflow/FlexFlow/commit/d33a775c86300de9efe17111091f5137c65ab019) for torch.split? Did you run into any similar errors when adding torch.split back in January?

[2021-05-13 04:14] eddy16112 commented on #187
I tried it, but did not have any issue. Are you in the master branch? Make sure you export FF_USE_CFFI=1, because the split is only implemented on cffi backend.

By the way, here is the command I used
./flexflow_python ../examples/python/pytorch/cifar10_cnn_torch.py  -ll:py 1 -ll:gpu 1 -ll:fsize 2048 -ll:zsize 12192

[2021-05-13 04:27] knagrecha commented on #187
Oh, is ./flexflow_python used for both conversion AND running? Looking at ./test.sh in the python folder, I thought it was python <filename> for model generation and ./flexflow_python for application. That would explain the code structure with top_level function being used even for model generation. Thanks for the pointer.

[2021-05-13 04:43] eddy16112 commented on #187
Actually, you can do
python3.6 ../examples/python/pytorch/cifar10_cnn_torch.py

But you will need to export FF_USE_CFFI=1.

[2021-05-13 20:51] knagrecha commented on #154
Follow up on this, did you just export GPU_ARCH=xx ? Or actually update one of the FlexFlow config files?

[2021-05-14 02:06] knagrecha opened #188 "Exporting GPU_ARCH=xx prior to installation does not seem to solve GPU ARCH errors for PyTorch frontend"
Related issue: https://github.com/flexflow/FlexFlow/issues/154 advises export of GPU_ARCH environment variable when encountering Legion error on mismatched compilation. I attempted to use this fix to no avail. My system has 2 1080TI GPUs. When I run the config.linux file (having setup all of the config variables before hand), it confirms that my export (export GPU_ARCH=61) for the Pascal architect

[2021-05-14 02:12] MiZhangWhuer commented on #154
Not exactly. I re-organize the entire project with CMake and setting the default environment by CMakeLists.txt. It can then run successfully.

[2021-05-14 02:13] lockshaw commented on #188
@knagrecha If you're using the cmake build system (which it appears you are) you can ignore the `runtime.mk` files (there is both a `make`-based build system and `cmake`-based system, and they are part of the former). Have you tried cleaning the project and re-building from scratch? CMake likes to cache values (`CMakeCache.txt`)

[2021-05-14 02:13] eddy16112 commented on #188
export GPU_ARCH=pascal is used for makefile system. Could you please try the makefile to see if works for you? It is
https://github.com/flexflow/FlexFlow/blob/master/python/Makefile

[2021-05-14 02:13] knagrecha commented on #154
Can you provide some guidance on what you reorganized/how? I am running into the same error and the exports don’t seem to fix anything. Did you change the Legion Cmake files maybe?

[2021-05-14 02:14] MiZhangWhuer commented on #154
Another issue is the version of PyTorch that is employed. It seems that the PyTorch should be >=1.5.0 in the current FlexFlow.

[2021-05-14 02:16] MiZhangWhuer commented on #154
I did not change the Legion CMake files, instead I change the CMakeLists.txt of FlexFlow. I will release the whole project by the next month if it has already run on our project.

[2021-05-14 02:21] knagrecha commented on #188
@lockshaw I've tried cleaning and retrying it both with make clean and complete machine teardowns (using a Kubernetes cluster so it's not too much overhead to do this), but ran into the same issue regardless. I'll try using the make-based build system instead of the cmake one.

[2021-05-18 16:28] fdouglis commented on #154
What did you change in CMakeLists.txt to override GPU_ARCH?  I tried this, but it didn't seem to have any effect.

[2021-05-18 17:39] fdouglis commented on #154
To follow up on my own comment, while I saw references to setting GPU_ARCH, I also saw in the build instructions FF_CUDA_ARCH.  I tried setting that to the one {gpu} complained about, and indeed I see if I make with VERBOSE that it is invoking `-gencode arch=compute_75,code=sm_75 ` -- yet the application still dies and complains it needs to built for 75.

[2021-05-18 19:00] jiazhihao commented on #154
If you saw `-gencode arch=compute_75,code=sm_75`, you should be building FlexFlow with the expected GPU architecture. Can you confirm that `-gencode arch=compute_75,code=sm_75` is present when compiling both Legion and FlexFlow source code? This mean for each source code compiled with nvcc, you should see the same GPU architecture number.

[2021-05-19 08:00] DavidPeleg6 opened #190 "support for multi node clusters"
I am looking into a way to distribute my DNN over multiple nodes connected by highspeed ethernet (rather than nvlink) when I came across this framework.
Is the simulator of the distributed DNN able to take multi node clusters into account when calculating runtime for the MCMC optimization?

[2021-05-19 08:08] lockshaw commented on #190
@DavidPeleg6 Yes, the simulator takes into account multi-node clusters (as long as the nodes are all uniform). You'll have to know the bandwidth of the various interconnects as FlexFlow does not automatically discover them

[2021-05-19 10:04] DavidPeleg6 commented on #190
I understand. Thanks!

[2021-05-19 10:04] #190 closed

[2021-05-19 19:40] DavidPeleg6 opened #191 "docker build failed"
I used the following script to build a docker image:

FROM nvidia/cuda:11.1-devel-ubuntu18.04

RUN apt-get update && apt-get install -y --no-install-recommends wget sudo binutils git zlib1g-dev && \
    rm -rf /var/lib/apt/lists/*

RUN wget -c http://developer.download.nvidia.com/compute/redist/cudnn/v8.0.5/cudnn-11.1-linux-x64-v8.0.5.39.tgz && \
    tar -xzf cudnn-11.1-linux-x64-v8.0.5.39.tgz -C

[2021-05-19 23:36] jiazhihao opened #192 "The Unity Merge"
This issue tracks the list of todos for merging the `unify` branch to `master`
- [ ] Update the Python interface
- [ ] Add a `ParallelComputationGraph` layer for capturing the parallelization of operators
- [ ] Sequential graph splits

[2021-05-20 10:13] MiZhangWhuer opened #193 "How to save the trained weights?"
I tried the provided demo and everything worked smoothly. However, there isn't any interface for saving the trained models.
Could you please provide some examples on how to save the trained weights?

[2021-05-20 22:03] lockshaw commented on #192
- [ ] Add machine views for dimension >1
- [ ] Load TASO-generated jint optimizations
- [ ] Investigate search bug on inception
- [ ] Update the rest of the operators
- [ ] Fix replica counting for weight synchronization estimates

[2021-05-20 22:44] jiazhihao commented on #193
The `get_weight_tensor` and `get_bias_tensor` method will help you get a tensor for the kernel or bias of a layer with trainable parameters: https://github.com/flexflow/FlexFlow/blob/master/examples/python/native/print_layers.py#L72-L74

[2021-05-22 18:49] knagrecha commented on #154
I attempted the same approach as @fdouglis and was able to reproduce their issue. I set FF_CUDA_ARCH to 61 for Pascal, and ran make with verbose. I saw that --gencode arch=compute_61,code=sm_61 was present throughout the logs. Yet the error still claims that I have compiled for the wrong architecture.

Here is an exact list of the steps I took on a fresh setup with 2 GTX 1080s.

1. git clone --rec

[2021-05-22 22:39] fdouglis commented on #154
It's worth noting that when I backed out my changes and started again, I could not reproduce this issue.  But it's reassuring in some sense that someone else saw it too!

[2021-05-22 22:47] knagrecha commented on #154
So you were able to get it to work? Starting to wonder if maybe I have misunderstood something in the install instructions...this does not seem to be a common issue users are running into.

[2021-05-22 23:09] fdouglis commented on #154
Right.  I mentioned this is the keras channel because that was where I ran into trouble.  It consistently failed, but I started with a cleaner build and it ran OK.  My guess here, but it's only a guess, is that when you hit that trouble and then start adding the new flag, even when rerunning cmake, there is some stale state confusing it.

[2021-05-23 15:12] DavidPeleg6 opened #195 "does FlexFlow work for non-identical systems"
I just noticed that I have to define the GPU-ARCHITECTURE prior to building the framework.
Is there also support for multi node systems with non-identical hardware?

[2021-05-23 15:18] DavidPeleg6 commented on #154
I have also come across the same issue when executing pytorch frontend scripts

[2021-05-23 15:21] DavidPeleg6 opened #196 "out of memory error when running with MCMC search budget flag"
I am currently trying to run the following test file:
./flexflow_python $FF_HOME/examples/python/keras/func_mnist_cnn.py -ll:py 1 -ll:gpu 4 -ll:fsize 2048 -ll:zsize 12192 --export /usr/FlexFlow/strategy.txt --budget 1

and I get the following memory error:
num_nodes = 1 num_gpus_per_node = 4
[0 - 7f83cd7fe700]    5.699004 {6}{inst}: instance allocation failed - out of memory in mem 1e0000000000000

[2021-05-23 15:33] DavidPeleg6 opened #197 "Export strategy flag not working"
I am currently running the following test script:
./flexflow_python $FF_HOME/examples/python/keras/func_mnist_cnn.py -ll:py 1 -ll:gpu 4 -ll:fsize 2048 -ll:zsize 12192 --export /usr/FlexFlow/strategy.txt

and while the script runs well, the export flag is not generated. Is performing a MCMC search step mandatory for the creation of a strategy?

[2021-05-23 18:08] jiazhihao commented on #196
When `--budget` is present, FlexFlow will run an MCMC search with a simulator. The simulator by default requires 2GB of GPU memory, which is why you run out of memory. You can fix this by increasing your GPU memory allocation (`-ll:fsize`) or reduce the simulator workspace size to 1GB or smaller numbers (e.g., `--simulator-workspace-size 1073741824` )

[2021-05-23 18:09] jiazhihao commented on #195
If you want to run FlexFlow on non-identical hardware, you can simply build FlexFlow by including all needed GPU architecture versions (e.g., `FF_CUDA_ARCH=xx,yy`)

[2021-05-23 18:10] jiazhihao commented on #197
Yes, you need to set a non-zero budget for the MCMC search `--budget xxx`. Otherwise, the search procedure will be skipped and won't produce a strategy file.

[2021-05-25 06:46] DavidPeleg6 commented on #197
and is there no way to avoid this feature?
I am looking to make some manual changes to the strategy, so I would like to have some runs with only the simulator running an imported strategy rather than optimizing.

[2021-05-25 06:55] jiazhihao commented on #197
To do what you want, you can change the following line https://github.com/flexflow/FlexFlow/blob/master/src/runtime/model.cc#L1578 from `budget > 0` to `budget >= 0`. This will allow FlexFlow to search the MCMC search even when the budget is zero. In this case, the simulator will report the simulated run time of the imported strategy.

[2021-05-25 06:56] DavidPeleg6 commented on #197
thank you!

[2021-05-25 07:17] jiazhihao opened #198 "compute_metrics() not implemented in the Pybind11 backend."
compute_metrics() is currently not implemented in the Pybind11 backend, causing attribute errors when calling `model.evaluate` w/ Pybind11. The issue can be deterministically reproduced by the following command line:
[code]
and the error message is as follows
[code]

[2021-05-25 07:40] eddy16112 commented on #198
fixed in https://github.com/flexflow/FlexFlow/pull/199

[2021-05-25 08:38] DavidPeleg6 commented on #195
I understand, thank you.
Furthermore, is there an option for me to run flexflow on generic hardware? (like a TPU for example).

[2021-05-25 14:38] DavidPeleg6 opened #200 "fail to allocate future buffer for task"
I am trying to run the following script from the test.sh file:
./flexflow_python $FF_HOME/examples/python/native/alexnet.py -ll:py 1 -ll:gpu 4 -ll:fsize 8000 -ll:cpu 28 -ll:zsize 12192 --epochs 40

and get the following error:
[0 - 7fd3f4340700]   16.466406 {5}{runtime}: [error 576] LEGION ERROR: Failed to allocate eager future buffer for task flexflow_top_level_task (UID 1) because Visible to all

[2021-05-25 18:22] jiazhihao commented on #200
This is due to a recent change in Legion. We can changed the default eager allocation percentage to avoid this error. Let us know if you still encounter this error after pulling the changes in the master branch. Note that the commit `867f27014` also updates the Legion submodule, so you will need to do a `git submodule update`

[2021-05-25 18:22] #198 closed

[2021-05-26 09:24] DavidPeleg6 commented on #200
I am currently in the master branch (commit f0913c24cd056a09797a3261d9f4c750cd062208).
I pulled and rebuild the repository and I still get the same error.
However, after adding the flag -lg:eager_alloc_percentage 60 ,
flexflow was able to run a couple of iterations before exhibiting this error.
note that I also get a warning in one of the steps:
[0 - 7f2be0d74700]    4.991553 {4}{runtime}: [warnin

[2021-05-26 13:44] DavidPeleg6 opened #202 "strategy file explanation"
I would like to use the strategy generated by flexflow and recreate the network according to the exported strategy.
Is there a source that explains the structure of the strategy file?

[2021-05-26 22:09] jiazhihao commented on #200
@DavidPeleg6 This is a warning from Legion and should be deterministically reproducible. Can you share with us the command line to produce this error? We will look into it.

[2021-05-26 23:01] eddy16112 commented on #202
The code of exporting strategy is https://github.com/eddy16112/FlexFlow/blob/master/src/runtime/strategy.cc#L150

Here is an example:
`./flexflow_python ../examples/python/native/mnist_cnn.py -ll:py 1 -ll:gpu 2 -ll:fsize 4096 -ll:zsize 12192 --epochs 1 --search-budget 10000 --export-strategy strategy.txt`
You will see the best strategy found
[code]
The strategy.txt is the output of strategy found.

[2021-05-27 20:22] roman955b commented on #202
Line 4 ("how each parallelizable dimension is parallelized")
What does each of the 4 dimensions represent?

[2021-05-27 20:23] roman955b opened #204 "'FFModel' object has no attribute 'concat'"
All the below tests (from python/test.sh) failed due to the error: `AttributeError: 'FFModel' object has no attribute 'concat'`
FlexFlow commit (master, sha: commit f0913c24cd056a09797a3261d9f4c750cd062208 )
Legion submodule (sha: commit 2561e7ab768c818f5f09513b4aa36b13d0507a70) (default of FlexFlow master)
nccl submodule (sha: commit 399656269027c1818fc999ccf8ec4dd838cec50d) (default of FlexFlow

[2021-05-27 20:57] eddy16112 commented on #204
right now, the concat is not implemented on pybind backend, please export FF_USE_CFFI=1,

[2021-05-27 21:00] eddy16112 commented on #202
It represents the dimensions of the input tensor of the operator, for example, the 4 dims of Conv2D is width, height, depth, batch size.

[2021-05-30 11:48] DavidPeleg6 commented on #200
I first ran the optimizer on a test and the warning (and error) pop up when I run the test again with the exported strategy file:
step 1:
./flexflow_python $FF_HOME/examples/python/keras/seq_mnist_mlp.py -ll:py 1 -ll:gpu 4 -ll:fsize 8192 -ll:zsize 12192 --export strategy.txt --budget 1000
step 2:
./flexflow_python $FF_HOME/examples/python/keras/seq_mnist_mlp.py -ll:py 1 -ll:gpu 4 -ll:fsize 8192 -l

[2021-05-30 12:07] DavidPeleg6 commented on #166
Ran into the same error while running:
./flexflow_python $FF_HOME/examples/python/native/alexnet.py -ll:py 1 -ll:gpu 4 -ll:fsize 8192 -ll:cpu 28 -ll:zsize 12192 --epochs 40

[0 - 7fcf734fd700]   13.202809 {5}{Mapper}: FlexFlow failed allocation of size 6292920000 bytes for region requirement 0 of task Float Load Entire Dataset Task Numpy (UID 98) in memory 1e00000000000005 with kind 5 for processo

[2021-05-30 15:22] DavidPeleg6 opened #205 "test.sh failures"
I ran the test.sh file and stumbled on to multiple errors that I tried to handled according to previously submitted issues.
After editing the test.sh file according to your answers  in https://github.com/flexflow/FlexFlow/issues/190 and https://github.com/flexflow/FlexFlow/issues/196 more of the tests pass but I still get errors as mentioned in the following tickets:

https://github.com/flexflow/F

[2021-06-01 11:10] #197 closed

[2021-06-01 11:11] #196 closed

[2021-06-01 11:11] DavidPeleg6 commented on #202
thanks!

[2021-06-02 07:28] DavidPeleg6 opened #206 "Error running FlexFlow with a 3 GPU configuration"
I am running the following script with a 3 gpu configuration:
./flexflow_python $FF_HOME/examples/python/pytorch/mnist_mlp_torch2.py -ll:py 1 -ll:gpu 3 -ll:fsize 8192 -ll:zsize 12192 -ll:cpu 28

and I get the following error:
Check ptr input_ 0x7fc0206a4b40 140463154285376 47040000, input 0x7fc015333340 140462966125376 47040000
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
flexfl

[2021-06-02 07:36] DavidPeleg6 opened #207 "split operator not implemented (pytorch)"
I am running the following test script:
./flexflow_python $FF_HOME/examples/python/pytorch/cifar10_cnn.py -ll:py 1 -ll:gpu 4  -ll:fsize 8192 -ll:zsize 12192 -ll:cpu 28 --export strategy.txt --budget 1000

and I get the following error:
measure_operator_cost not implemented for op split_105 (type 22). Please report this issue to the FlexFlow developers.
Aborted (core dumped)

If the split operator

[2021-06-02 07:40] eddy16112 commented on #207
Please switch to python cffi backend by export FF_USE_CFFI=1

[2021-06-02 08:05] #191 closed

[2021-06-02 14:29] DavidPeleg6 commented on #207
I have tried it and I am getting the same error

[2021-06-02 14:30] DavidPeleg6 commented on #206
thank you, does this apply to all parallelizable dimensions?

[2021-06-02 19:30] eddy16112 commented on #207
I am sorry it is because the split operator is not supported in the simulator, right now, the only way is not to use split if you want to use the simulator.

[2021-06-03 08:02] DavidPeleg6 commented on #207
I understand.
Is the split operator supported in the actual flexflow runtime? For example, in case I would like to run a script with my own strategy.

[2021-06-03 08:06] jiazhihao commented on #207
It is supported in the runtime. I will push a fix to support split in the simulator.

[2021-06-03 08:09] DavidPeleg6 commented on #207
thank you!

[2021-06-03 08:09] #207 closed

[2021-06-04 21:18] jiazhihao commented on #207
The support for split in the simulator is available in commit d5461fa11daf0bb240b9874f658f9172b9fec61d

[2021-06-06 09:15] DavidPeleg6 opened #209 "Location of FlexFlow graph container in code"
I am trying to print the distribution of the NN over my hardware (the actual split of each individual layer across the SOAP space according to the strategy file).
I tried using FFModel's print_layers method but I seem to get the entire saved layer rather than its representation.
Is there an inner FlexFlow structure that includes the entire split model?
Or is there a specific stage during the execu

[2021-06-06 15:03] DavidPeleg6 commented on #205
@jiazhihao most of my questions recently relate to this ticket.  Though I want to be able to run all of test.sh successfully (can you verify that that is possible on the master branch?) the largest issue I have is with the test (#abc ):

`./flexflow_python $FF_HOME/examples/python/pytorch/mnist_mlp.py -ll:py 1 -ll:gpu 2 -ll:fsize 8192 -ll:zsize 12192 -ll:cpu 28 --export strategy.txt --budget 1000

[2021-06-08 07:19] jiazhihao commented on #209
You are right that `print_layers` will print an entire layer regardless of its partitioning. If you want to see the partitioned weights on individual devices, `print_tensor` might be what you need. It directly prints the partitioned weights assigned to each device. E.g., https://github.com/flexflow/FlexFlow/blob/master/src/ops/embedding.cu#L269.

[2021-06-08 07:23] jiazhihao commented on #206
@DavidPeleg6 FlexFlow currently assumes that each dimension is evenly split across device to guarantee well balanced workload distribution (i.e., all devices perform the same amount of computation). For dimension that cannot be evenly split, the easiest way is to pad that dimension to make it evenly splittable.

[2021-06-08 07:24] jiazhihao commented on #205
I can reproduce this on my side. The issue is a mismatch between the parallelization strategy used by the dataloader and the first layer. I am working on a fix for this.

[2021-06-08 16:02] DavidPeleg6 commented on #202
is there a documentation list regarding what the parallelizable dimensions of each operator are?
also, for the case of convolution I understand batch stands for the Sample dimension while depth stands for Attribute, but do both width and height stand for Parameter dimension?

[2021-06-09 06:21] MiZhangWhuer commented on #204
Hi, implementing the concat is straightforward. You should modify the  concat.cu interface as follows:

Concat::Concat(FFModel& model,
               // int _n,
			   const std::vector<Tensor> &_tensors,
               int _axis,
               const char* name)

and then adding the interface to python binding:
   .def("concat", &FFModel::concat, "tensors"_a, "axis"_a, "name"_a=nullptr)

[2021-06-09 07:19] eddy16112 commented on #204
please export FF_USE_CFFI=1

[2021-06-09 09:59] MiZhangWhuer commented on #204
It is not necessary to export this symbol because it relays on Legion symbol and the user must set extra command line parameters. I've modified the entire source code and will release it the next few month. Hope it can benefit the whole community.

[2021-06-09 12:21] DavidPeleg6 commented on #209
thanks.
Is there a way to print it straight from the examples/python/native/print_layers.py script?

[2021-06-11 18:34] spal-bbn opened #210 "HDF5 error while building Transformer model"
I have a FlexFlow installation running on a docker. I am able to successfully get AlexNet to build and run. However, when I try to build the Transformer model, I get an HDF5 error -
“L/usr/local/cuda/lib64/stubs -lcuda -Xlinker -rpath=/usr/local/cuda/lib64 -lhdf5 -lz
/usr/bin/ld: cannot find -lhdf5
collect2: error: ld returned 1 exit status
make: *** [/usr/local/FlexFlow/deps/legion/runtime/runtim

[2021-06-14 15:38] spal-bbn commented on #210
This issue was resolved thanks to the following link -
https://github.com/BVLC/caffe/issues/4333
Creating a symbolic link resolved the issue  -
"cd /usr/lib/x86_64-linux-gnu
sudo ln -s libhdf5_serial.so.8.0.2 libhdf5.so"

[2021-06-14 15:38] #210 closed

[2021-06-17 04:18] sgh7398 commented on #54
Has there been any progress on these features? I am very interested about the second item "Enable a way to simulate hardware that are not accessible". Has this new feature been added to FlexFlow? If not, Could you please give a high level idea on how it can be done?

[2021-06-20 11:25] DavidPeleg6 opened #212 "Legion runtime does not accept manual splits"
I would like to check different splits by manually changing the strategy. In order to do so, I tried as a first step to change the split in the sample dimension from 4 gpus to 2 gpus. flexflow simulator runs this split with no issues, but the test fails at runtime with the following error:
{5}{runtime}: [error 39] LEGION ERROR: Invalid color space color for child 2 of logical partition (13,10,18)

[2021-06-23 10:52] merrymercy opened #213 "How to run FlexFlow on multiple nodes?"
I cannot find any examples of running FlexFlow on multiple nodes.

Could you provide any guidance or instructions on how to do this?

@jiazhihao @eddy16112

[2021-06-23 19:49] merrymercy commented on #213
Find a related post here.
https://github.com/flexflow/FlexFlow/issues/35

[2021-06-23 19:49] #213 closed

[2021-06-23 21:34] jiazhihao commented on #213
@merrymercy You can run FlexFlow on multiple nodes by building the source code with GASNET enabled (by setting `FF_USE_GASNET=ON` at https://github.com/flexflow/FlexFlow/blob/master/config/config.linux#L37). You can then use `srun` or `mpirun` for launching distributed runs of FlexFlow.

[2021-06-25 20:56] merrymercy opened #214 "Cannot run the DLRM examples in the auto-tuning tutorial"
I tried to follow the examples in this auto-tuning tutorial (https://flexflow.ai/search/) but cannot run them succesfully.

### Testing Environment
AWS p3.8xlarge, Deep Learning AMI (Ubuntu 18.04) Version 43.0, 4 x V100 GPUs.
FlexFlow : 798ce79e9837f (master branch, Jun 16, 2021)

### DLRM Example

1. First, I tried to use the python API and got segfault.
[code]

It seems `examples/python/native/d

[2021-06-25 22:08] merrymercy opened #215 "Failed to auto-tune a MLP model: [error 39] LEGION ERROR: Invalid color space color"
I tried to auto-tune a 3-layer MLP model but got "LEGION ERROR: Invalid color space color" when loading the tuned strategy.

### Testing Environment
AWS p3.8xlarge, Deep Learning AMI (Ubuntu 18.04) Version 43.0, 4 x V100 GPUs.
FlexFlow : 798ce79e9837f (master branch, Jun 16, 2021)

###  Model definition
The file is put in `$FF_HOME/examples/python/native/mlp.py`
[code]
I can run the model successf

[2021-06-25 22:08] merrymercy commented on #212
I got a similar error in #215

[2021-06-27 15:31] DavidPeleg6 commented on #212
Furthermore, when running ResNet with MCMC budget of 10,000
` ./transformer  -ll:gpu 4 -ll:fsize 11000 -ll:zsize 10000 --enable-parameter-parallel  --enable-attribute-parallel --export strategy.txt --budget 10000
`
 I get the following strategy file:
[strategy.txt](https://github.com/flexflow/FlexFlow/files/6721817/strategy.txt)

when I rerun the test with the imported strategy file I get the same

[2021-06-27 15:38] DavidPeleg6 commented on #200
@jiazhihao Is there any additional information that I can provide to help you understand the source of the problem?

[2021-06-28 04:05] MiZhangWhuer commented on #212
@DavidPeleg6 I got similar error too and do not find the solution yet.

[2021-06-28 07:37] eddy16112 commented on #200
This should be fixed once you update the Legion to the latest flexflow branch.

[2021-06-28 11:20] FourWinds021 opened #216 "file deppart_tmpl.cc.in does not exist"
**when i want to build flexflow use cmake config command: ../config/config.linux, and comes a error as flow, is there some one have the idea to solve this problem?**

Defaults for Linux machine
cmake -DCUDA_USE_STATIC_CUDA_RUNTIME=OFF -DCMAKE_BUILD_TYPE=Release -DCUDNN_PATH=/usr/local/cuda -DFF_USE_PYTHON=ON -DFF_USE_NCCL=ON -DFF_USE_GASNET=ON -DFF_BUILD_EXAMPLES=OFF -DFF_USE_AVX2=OFF -DFF_MAX_DIM

[2021-06-28 11:48] JimWang1991 commented on #216
when I change the file path of deppart_tmpl.cc.in in deps/legion/runtime/CMakeLists.txt to

it seems worked now.

[2021-06-28 17:56] jiazhihao commented on #212
@DavidPeleg6 The issue should have been fixed by commit 217f3199f

[2021-06-28 18:45] jiazhihao commented on #214
@merrymercy You are right that the python example is out-dated. Commit 197eeb3 should fix the assertion error you encountered.

[2021-06-28 18:47] jiazhihao commented on #216
The issue is related to using Legion as a submodule and should have been fixed. Are you using the most up-to-date version of FlexFlow and its submodules?

[2021-06-28 19:20] MiZhangWhuer commented on #212
Zhihao, how do you debug this error? Is there any convenient way to locate the error associate with launcher.add_region_requirement(
      RegionRequirement)?

[2021-06-29 01:41] JimWang1991 commented on #216
the link of Legion in the FlexFlow-master (FlexFlow/deps/legion) is invalid, so I download this version of Legion from https://gitlab.com/StanfordLegion/legion/-/tree/master
and change the line 223 in legion/runtime/CMakeLists.txt to :

[2021-06-29 04:58] jiazhihao commented on #215
The issue should have been fixed by commit 345ba896.

[2021-06-29 05:01] jiazhihao commented on #216
The master branch of FlexFlow depends on legion@1c30cf19681988e2fbd9fedb3bbe7a97a272d911, which should be the most recent commit of the `flexflow` branch of Legion: https://gitlab.com/StanfordLegion/legion/-/tree/flexflow

[2021-06-29 05:05] jiazhihao commented on #212
The error message is not very informative unfortunately. The issue was that switching between parallelization strategies requires partitioning some tensors in multiple ways, each of which is called a `LogicalPartition`, and FlexFlow used an incorrect partitioning for conv2d. This resulted in an assertion error in Legion.

The easiest way to debug Legion issues is generating a backtrace using `gdb`

[2021-06-29 08:12] MiZhangWhuer commented on #212
Thanks for providing the guidance. It is quite surprise that importing the same strategy file in C++ interface works fine but the error occurs in Python interface. What's the probable reason?

[2021-06-29 11:30] merrymercy commented on #215
Thanks, it now works correctly.

But I can see warnings like
[code]

Do these warnings impact the performance?

[2021-06-29 12:44] #214 closed

[2021-06-29 12:45] merrymercy opened #217 "The strategy returned by auto-tuning is slower than the default data parallel strategy"
### Testing Environment
AWS p3.8xlarge, Deep Learning AMI (Ubuntu 18.04) Version 43.0, 4 x V100 GPUs.
FlexFlow : 6b06996 (master branch, Jun 28, 2021)

### Model definition
The model is a MLP with 8 dense layers.
The file is put in `$FF_HOME/examples/python/native/mlp_2304.py`
https://github.com/merrymercy/FlexFlow/blob/d55288e983418b2c7eaf3987d987782970640ca5/examples/python/native/mlp_2304.py

#

[2021-06-29 14:13] merrymercy opened #218 "Sample parallel and attribute parallel are not implement for convolution layers"
In the master branch, sample parallel and attribute parallel are not implemented for convolution layers.
Do you have any plan to support them?

In addition, I cannot find a public version of code that fully implements all functionalities mentioned in the FlexFlow paper (full search space + simulator + search algorithm). Is there such a public version?

[2021-06-30 01:48] MiZhangWhuer commented on #217
@merrymercy The same issue to me. The gap mainly comes from the code in compile function?
if (config.import_strategy_file.length() > 0) {
    load_strategies_from_file(config.import_strategy_file, config.strategies);
  }
  if (config.search_budget > 0) {
    // Launch the search task
    FFModel* model = this;
    TaskLauncher launcher(STRATEGY_SEARCH_TASK_ID,
        TaskArgument(&model, sizeof(F

[2021-06-30 02:34] merrymercy commented on #217
In the python script, I only call four APIs without any large arguments (https://github.com/merrymercy/FlexFlow/blob/d55288e983418b2c7eaf3987d987782970640ca5/examples/python/native/mlp_2304.py#L46-L49).
The FFI overhead should be minimal.

[2021-06-30 02:35] eddy16112 commented on #217
The only difference between c++ and python is c++ enables control replication optimization by default, and python does not. However, when running on single node, the control replication optimization should not make any difference.

[2021-06-30 02:40] eddy16112 commented on #217
@merrymercy looks like your python script does not enable legion tracing. Please take a look at https://github.com/flexflow/FlexFlow/blob/master/python/flexflow/core/flexflow_cffi.py#L1732

[2021-06-30 02:41] merrymercy commented on #217
@eddy16112  What's the functionality of legion tracing? How does it impact the performance?

[2021-06-30 02:50] MiZhangWhuer commented on #217
Even the tracing is set, the performance drop dramatically. Is is relate to GASNet library?

[2021-06-30 03:03] MiZhangWhuer commented on #217
@merrymercy I‘ve sent an message to your gmail. Please check it and hope online communication for the prompt reply.

[2021-06-30 03:22] eddy16112 commented on #217
tracing is important optimization which can memorize the dependencies of a DAG without analyze it every iteration.

My mistake, the control replication is not enabled by default for C++ API. I think you do not need to enable it for the comparison between C++ and python.
To enable control replication, you will need to use the [create_data_loader2](https://github.com/flexflow/FlexFlow/blob/master/py

[2021-06-30 04:07] merrymercy commented on #217
It seems that the `create_data_loader2` API is broken during the recent ffi refactor.
I got this error
[code]
The function `create_data_loader2` is defined in python but not in this binding definition (https://github.com/flexflow/FlexFlow/blob/798ce79e9837fc779d3c910684155d7d7dec81a4/python/bindings.cc#L326)

[2021-06-30 05:11] eddy16112 commented on #217
Sorry, my mistake, I did not notice the pybind11 backend did not have `create_data_loader2`. If using the pybind11 backend, which is the default python binding of the FlexFlow, the `create_data_loader` should work with control replication.

[2021-06-30 08:23] DavidPeleg6 commented on #212
Thanks!

[2021-06-30 08:23] #212 closed

[2021-07-07 12:50] JF-D commented on #218
As far as I know,
simulator in `src/runtime/simulator.cc`,
search algorithm in `src/runtime/model.cc` (`FFModel::optimize`),
full search space in `src/runtime/model.cc` (`Op::get_random_parallel_config`).

[2021-07-08 01:37] JF-D opened #219 "Compile error when compiling flexflow deps legion"
Hi,
I use gcc5.4 + cuda10.1. When compiling, I met the following error, it seems the c++11 option is not ON. How can I solve this?
![image](https://user-images.githubusercontent.com/30710061/124848632-d6ce4a00-dfcf-11eb-9a6a-1ff90d5c855c.png)

Best,
Jiangfei

[2021-07-08 02:51] eddy16112 commented on #219
Could you please give a try with the following patch?

diff --git a/CMakeLists.txt b/CMakeLists.txt
index f588d4fb..bddfa6de 100644
--- a/CMakeLists.txt
+++ b/CMakeLists.txt
@@ -59,6 +59,12 @@ set(CC_FLAGS $ENV{CC_FLAGS})
 set(NVCC_FLAGS $ENV{NVCC_FLAGS})
 set(LD_FLAGS $ENV{LD_FLAGS})

+list(APPEND CC_FLAGS
+  -std=c++11)
+
+list(APPEND NVCC_FLAGS
+  -std=c++11)
+
 # ZLIB
 include(zlib)

@@ -98,7

[2021-07-08 03:26] JF-D commented on #219
It doesn't work.
I think it's the error of Legion. When I compile Legion saparately, and meet similar error. The Legion doesn't set c++11 flag.

[2021-07-08 03:39] eddy16112 commented on #219
I thought the patch could set the CXX flags for Legion. Could you please add -std=c++11 to CMAKE_CXX_FLAGS using the ccmake?

[2021-07-08 03:49] JF-D commented on #219
I think so. But it didn't.
I tried to compile an older version Legion saparately, it works well.
You mean, add c++11 using cmake to CMakeLists of FlexFlow or Legion?  I checked, FlexFlow did have c++11 flag when compiling, but legion didn't have. And I also tried to compile legion with flexflow, and add `add_definitions(-std=c++11)` to legion CMakeLists.txt, it didn't work.

I will check it again.

[2021-07-08 05:01] eddy16112 commented on #219
I will give a try with the gcc5. In the meantime, you can use the Makefile or upgrade the gnu to 6 or later.

[2021-07-08 13:02] JF-D commented on #219
Hi,
When I tried to compile flexflow example directly, e.g. in `examples/cpp/AlexNet` folder run `make`, it works well. It seems for each cpp example, I need to compile flexflow once. I wonder what the result is after compiling flexflow, a library for python binding or something else, and how do flexflow compile with legion together, since the variables(`FLEXFLOW_EXT_LIBRARIES`) extended in `legio

[2021-07-08 13:36] JF-D commented on #219
Well, I find what's wrong:)

Follow https://github.com/flexflow/FlexFlow/issues/219#issuecomment-876098384 and https://github.com/flexflow/FlexFlow/issues/219#issuecomment-876420485, `CC_FLAGS` makes sense in MakeFile, and `CMAKE_CXX_FLAGS` makes sense in CMakeLists.txt. In your patch, you should add `set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=c++11")`.

Thanks a lot!
Jiangfei

[2021-07-08 14:35] JF-D commented on #219
I am sorry, but what about this...
![image](https://user-images.githubusercontent.com/30710061/124940665-c0aaa300-e03c-11eb-9772-1acf839754ca.png)

[2021-07-08 20:39] eddy16112 commented on #219
Have you installed the cuBLAS? Here is my cmake cmd, and I can not reproduce your error.  By the way, thank you for letting me know the Legion c++11 bug, I already fixed it in the master branch.
-DCUDA_USE_STATIC_CUDA_RUNTIME=OFF -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DCMAKE_INSTALL_PREFIX=/home/wwu/flexflow-cmake/install -DCMAKE_BUILD_TYPE=Debug -DCUDA_PATH=/projects/opt/centos7/cuda/10

[2021-07-09 02:38] JF-D commented on #219
In `cmake/cuda.cmake`, the cublas path is specified in `$CUDA_ROOT/lib64`, but according to https://forums.developer.nvidia.com/t/cublas-for-10-1-is-missing/71015 ,  cublas is moved out of cuda dir in (maybe after) cuda10.1, I think maybe the cublas lib path can be setted as a macro.

[2021-07-09 02:38] #219 closed

[2021-07-09 04:17] eddy16112 commented on #219
Thanks for letting me know. I will fix the cublas.

[2021-07-09 07:00] JF-D opened #220 "Question about dataloader"
Hi,

When I run examples, I notice the model usually uses cifar/minist dataset. I wonder how the dataloader is implemented in FlexFlow. Are all data stored in GPU memory or loaded from cpu memory like pytorch dataloader? I want to know the data load time and if there are synthetic dataset example. I want to compare the speed of synthetic data training.

Thanks a lot!
Jiangfei

[2021-07-09 09:41] eddy16112 commented on #220
The entire dataset will be loaded into pinned CPU memory, and in each iteration, one batch will be moved into GPU memory asynchronously. Currently the dataloader should support any 4D and 2D datasets, here is the [API](https://github.com/flexflow/FlexFlow/blob/master/python/flexflow/core/flexflow_cffi.py#L1783). The full array is a numpy array containing the entire data.

[2021-07-09 09:59] JF-D commented on #220
Thanks a lot!

The cpp example can use random input like this https://github.com/flexflow/FlexFlow/blob/master/examples/cpp/AlexNet/alexnet.cc#L100, I want to know how can I use random input like this in python, is there an example?

[2021-07-09 10:02] eddy16112 commented on #220
https://github.com/flexflow/FlexFlow/blob/master/examples/python/native/cifar10_cnn.py#L56
you can pass a random numpy array instead of the one containing the data

[2021-07-09 10:11] #220 closed

[2021-07-11 08:11] DavidPeleg6 commented on #218
@JF-D @jiazhihao
from what I understand, in `Op::get_random_parallel_config` (line 534-535 in src/runtime/model.cc) the only dimension that gets randomly split is the batch.
Aside from that, in linear.cu there is an override of the get_random_parallel_config function that also implements random splits in the parameter dimension.
As @merrymercy mentioned, I also cannot find an implementation of ran

[2021-07-11 20:17] jiazhihao commented on #218
@DavidPeleg6 You are right that FlexFlow currently uses the `get_random_parallel_config` method of the `Op` class to generate parallel configuration for an operator. `get_random_parallel_config` returns data parallelism with different degrees of parallelism by default, and users can overwrite this method to enable more hybrid parallelization strategies.

In the `unify` branch, which will be merged

[2021-07-20 04:32] bhetherman-bbn opened #221 "Unify branch: Changing OUTPUT_LEVEL doesnt seem to have an effect"
I was using the resnet c++ example and setting "OUTPUT_LEVEL    ?= LEVEL_SPEW" in the Makefile but it doesnt seem to change what is output even though I thought it should output everything. Even when set to LEVEL_DEBUG, stuff thats sent to "this->logger->debug() << ..." doesnt seem to make it to standard out. Is there some other way i should be setting the log level?

[2021-07-26 02:26] imyzx2017 opened #222 "【import error】libflwxflow.so not find"
I had build flexflow by compiling source code. But got a import error as below:
How can I solve this? Thanks

[code]

[2021-07-26 02:59] eddy16112 commented on #222
You will need to export PYTHONPATH=your flexflow dir/python/flexflow/core:$PYTHONPATH

[2021-07-26 03:36] imyzx2017 commented on #222
Here is my flexflow/core dir, still not find libflexflow.so file..
After setting my PYTHONPATH,  import still got same error  0.0
![image](https://user-images.githubusercontent.com/32630786/126929603-1a3eac48-70c3-4778-9ed8-7d5acbaf4b51.png)

[2021-07-26 03:46] eddy16112 commented on #222
You should not use python native interpreter, you will need to use flexflow_python ../example/

[2021-07-26 03:49] imyzx2017 commented on #222
Thans for your help! After setting libPATH, running test using native python or flexflow_python passed!

[2021-07-26 03:49] #222 closed

[2021-07-26 14:06] DavidPeleg6 commented on #215
@jiazhihao I am running into the same problem with a manually generated strategy.
I am running the `examples/python/native/alexnet.py` test in the master branch (commit af8f6c6) with two strategies:
1. Generated by running the MCMC algorithm which yields the [MCMCstrategy.txt](https://github.com/flexflow/FlexFlow/files/6878715/MCMCstrategy.txt)
2. Generated manually [ManualStrategy.txt](https://gi

[2021-08-04 15:24] DavidPeleg6 commented on #215
@jiazhihao @eddy16112 any ideas on what I could check?

[2021-08-06 03:19] JimWang1991 commented on #215
@merrymercy hello, have you sovle this warning? Do these warnings affect the performance? I encounter the same appearance and the train speed seems slower than the default data parallel.

[2021-08-24 02:50] imyzx2017 opened #225 "The product of the ParallelStrategyConfig is allowed to be less then the number of GPUs"
Hi, I have read your source code about strategy_search_task. When I read the code of func `get_random_parallel_config` in `linear.cu`, I have a question to ask:
[code]
1. when run the func `get_random_parallel_config` of current ops(Linear), the product of the new rewrite ParallelStrategyConfig is allowed to be less then the number of GPUs  (`i*j <= total_devices`). Is this reasonable, will the da

[2021-08-24 07:06] imyzx2017 opened #226 "How to define or generate the Enhanced-Machine-Model-File?"
When I using your auto parallel search function on MLP model, Flexflow can generate parallel-config-file with sampleParallel setting and  channelParallel setting.
`flexflow_python mlp.py -ll:py 1 -ll:gpu 4 -ll:fsize 24000 -ll:zsize 8192 --batch-size 6400 --export mlp_stra_4gpus_pc2.txt --search-budget 50000 --enable-parameter-parallel --enable-attribute-parallel --search-alpha 0.05`
But when i tra

[2021-08-24 13:48] jiazhihao commented on #225
You are right that FlexFlow allows using a subset of GPUs if that's beneficial (e.g., communication cost outweighs performance gains). You can image data and model parallelism as two dimensions FlexFlow considers for parallelizing Linear operators. In this case, the product of the degree of data and model parallelism is the overall number of GPUs used for training a Linear op.

[2021-08-24 19:09] eddy16112 commented on #226
@dycz0fx Can you take a look at this issue?

[2021-08-25 12:27] imyzx2017 opened #227 "【Incorrect calculation？】add dense layer nums in /python/native/mnist_mlp.py, then run with custom parallelism setting"
I try to add some dense layer in /python/native/mnist_mlp.py, code as below
[code]
I can run this MNIST cls task successfully by using deafult dataParallel. But when I import  my custom parallelism setting which set the first three layer of the network's channel parallism to 2.
`CUDA_LAUNCH_BLOCKING=1 flexflow_python ../examples/python/native/mnist_mlp.py -ll:py 1 -ll:gpu 2 -ll:fsize 24000 -ll:zsi

[2021-08-25 17:20] Mahmoud-Yasser-16 opened #228 "HuggingFace | Model Parallel"
Hi, Is there anyway I can fine-tune huggingface transformers models to leverage the model parallelism property of Flexflow?
Maybe steps or an example can help!

Thanks

[2021-08-30 16:38] dycz0fx commented on #226
The enhanced machine model needs a config file to know the configuration of a machine. Please refer to this config file (https://github.com/flexflow/FlexFlow/blob/master/machine_config_example) as an example. To get better estimations, you may want to use some benchmarks to get the actual latency and bandwidth of the communication devices you plan to use. The benchmark I used is the Memspeed bench

[2021-09-02 06:21] shengchengwang commented on #200
I am also in the master branch recently (pulled and build the repo just now), and still, get the same error:
step1:
./dlrm -ll:gpu 8 -ll:fsize 12000 -ll:zsize 20000 --arch-sparse-feature-size 64 --arch-embedding-size 1000000-1000000-1000000-1000000-1000000-1000000-1000000-1000000 --arch-mlp-bot 64-512-512-64 --arch-mlp-top 576-1024-1024-1024-1 --batch-size 1024 --budget 1000 --export dlrm_strategy

[2021-09-02 08:03] shengchengwang commented on #200
I am also in the master branch recently (pulled and build the repo just now), and still, get the same error:
step1:
./dlrm -ll:gpu 8 -ll:fsize 12000 -ll:zsize 20000 --arch-sparse-feature-size 64 --arch-embedding-size 1000000-1000000-1000000-1000000-1000000-1000000-1000000-1000000 --arch-mlp-bot 64-512-512-64 --arch-mlp-top 576-1024-1024-1024-1 --batch-size 1024 --budget 1000 --export dlrm_strategy

[2021-09-03 02:39] shengchengwang commented on #200
Hi David, did you fix this issue?

[2021-09-03 03:07] eddy16112 commented on #200
you can try to add "-lg:eager_alloc_percentage 40" to your cmd line. if 40 is not enough, try to increase the number like 50 60 ...

[2021-09-03 03:21] shengchengwang commented on #200
Thx a lot. Will give it a try.

[2021-09-03 03:21] jiazhihao commented on #200
@shengchengwang I just realized that you are playing with the DLRM example. You can reduce `MAX_NUM_SAMPLES` to be your per-GPU batch size, which is 1024 in your script, by editing this line: https://github.com/flexflow/FlexFlow/blob/master/examples/cpp/DLRM/dlrm.h#L17.

This should help you resolve the issue. Once the issue disappears, you no longer need to set `-lg:eager_alloc_percentage` explic

[2021-09-03 03:47] shengchengwang commented on #200
Thx Zhihao !

[2021-09-03 07:19] imyzx2017 commented on #226
thanks for your reply!

[2021-09-03 07:19] #226 closed

[2021-09-03 13:23] shengchengwang opened #230 "How to obtain the HDF5 dataset for DLRM training"
Dear all,

I am playing with the DLRM and facing an issue regarding the format of the training dataset. I downloaded the dataset from Criteo, and decompress it. Afterward, I got two text files ("train.txt" and "test.txt"). What is the most smooth way to preprocess the two files? I noticed that there is a "preprocess_hdf.py" file in the folder, but how to use it? Thx.

[2021-09-03 15:25] jiazhihao commented on #230
The 7-day criteo Kaggle dataset is available at http://sapling.stanford.edu/~zhihao/kaggle_all.h5.

[2021-09-06 03:51] shengchengwang commented on #230
Thank you for the sharing

[2021-09-15 11:48] roman955b opened #231 "How to compile in Release"
In how many places, and where (including the submodules), does one has to configure the FlexFlow solution in order to compile in Release? (Does one have to set any env. variables too?)
I compile using by calling
1) creating a build directory `git/FlexFlow/build`
2) From inside `git/FlexFlow/build` I call:  `../config/config.linucx`
3) I build using `make build`

[2021-09-15 11:48] roman955b commented on #231
The background of my question is that I get low throughput on GPU, far below what the simulator generates.
I also get lower and lower throughput as I increase the number of epochs.

For example, when testing on AlexNet the MCMC generated strategy gives me these numbers:
[code]

[2021-09-16 00:23] eddy16112 commented on #231
It is compiled in release mode by default. Please check if BUILD_TYPE is Release or not.
https://github.com/flexflow/FlexFlow/blob/master/config/config.linux#L19

[2021-09-16 21:19] roman955b commented on #231
Thanks.

I followed those instructions (plus I add the flag `--python-data-loader-type 2 ` as a FlexFlow warning hinted me to do).

It runs on GPU but I get this warning about every ~1000 data points (images) when training AlexNet.

[code]

[2021-09-17 09:31] roman955b opened #232 "LEGION WARNING "failed to memoize the trace" / low GPU throughput"
I followed the compilation instructions of #231 plus I added the flag `--python-data-loader-type 2 `as a FlexFlow warning hinted me to do.

Testing on a machine with 8xV100 cards, it runs, _but_ I get the below warning about every ~1000 data points (images) when training AlexNet and the throughput times gets down to about 60% of expected numbers.

[code]
This is the AlexNet strategy file that I te

[2021-09-17 09:32] roman955b commented on #231
Question continued in issue #232 .
Thanks

[2021-09-17 09:32] #231 closed

[2021-09-19 10:41] roman955b commented on #215
@JimWang1991  Any new insights on this warning and performance penalty?

[2021-09-19 12:54] roman955b commented on #35
Should GASNet be installed on each of the nodes in the cluster or is it enough that each of the docker's running FF also has GASNet installed within them?
Can I use FF with GASNet on AWS (not bare metal services)?

[2021-09-20 00:15] eddy16112 commented on #35
You will need to install the GASNet anywhere you want to run the FlexFlow. You can use FF with GASNet on AWS, but make sure you select the high performance conduit for GASNet if you want to measure the performance.

[2021-09-20 09:39] roman955b commented on #35
So I understand that it is not enough to have GASNet installed on the dockers that I run on my cluster, but I must ask the IT-admin to also install GASNet on the actual nodes of the cluster. Is this correct? (if yes, I think we can close this git issue).
Thanks

[2021-09-21 20:59] roman955b commented on #232
@eddy16112 @jiazhihao Any insights to why I see this big penalty to the throughput when running on GPU? What does the warning hint about the  underlying problem?
Thanks!

[2021-09-21 21:18] jiazhihao commented on #232
I will look into this later today.

[2021-09-22 02:09] ferdiko commented on #232
I've got the same problem. In case that it helps: This goes away if I delete the line ` data_loader.next_batch(ff); ` so the problem could be something with the data loader.

[2021-09-22 02:13] ferdiko commented on #232
The warning also goes away if I use data parallelism

[2021-09-22 02:18] ferdiko commented on #232
If I move `data_loader.next_batch(ff);` below `runtime->begin_trace(ctx, trace_id);` I don't have the warning and get expected performance -- any ideas?

[2021-09-24 05:08] roman955b commented on #232
@jiazhihao What is the impact of @ferdiko 's proposed code change? Is this a valid resolution?

[2021-09-28 19:58] roman955b commented on #232
@ferdiko Hi, Did you check the impact of your change any further? With what workloads did you test it with?
Thanks!

[2021-09-28 20:17] ferdiko commented on #232
I tested it with CNNs (mixture of experts with CNN submodules). I didn't observe any unexpected behaviour and have been working with this change for the past few days. It's weird however, because I remember that I was already able to run without the warning and without the proposed change.

Here is my (possibly flawed) understanding of what is happening:
In my understanding, the effect of tracing

[2021-09-28 20:31] ferdiko commented on #232
That I didn't get the warning when using data parallelism could also be a hint that loading the data batch is somehow scheduled to different devices when not replaying it from the trace -- and when using data parallelism, this isn't the case anymore, because the task is executed on all devices anyways.

I don't get how loading the batch would be scheduled to different devices though ... (maybe dif

[2021-09-29 12:25] roman955b commented on #232
In `alexnet.cc` I  moved  `runtime->begin_trace(ctx, 111/*trace_id*/);` to above  `data_loader.next_batch(ff); ` (from line 136 to line 129).

Running the code with this change give me this crash (v100x8):
[code]

[2021-09-29 12:30] ferdiko commented on #232
The line numbering in `https://github.com/flexflow/FlexFlow/blob/master/examples/cpp/AlexNet/alexnet.cc` is different, could you quickly copy paste how you modified it? It seems like you recorded the first trace without the data loading as the first part of the trace (the first forward operator probably takes 2 regions (input, output) and data loader takes 4).

[2021-09-29 12:30] roman955b commented on #232
[code]

[2021-09-29 12:32] ferdiko commented on #232
I see. And you don't provide a data set, right?

Can you try the following:

[code]

[2021-09-29 12:40] roman955b commented on #232
OK. That works.
However... Running with 8 GPU's  gives me throughput of  4233.59 samples/s and 4 GPU's gives me 5615.76 samples/s.
Strategies attached:
[MCMC_8gpus.txt](https://github.com/flexflow/FlexFlow/files/7251843/MCMC_8gpus.txt)
[MCMC_4gpus.txt](https://github.com/flexflow/FlexFlow/files/7251844/MCMC_4gpus.txt)

Command line call:
`./build/examples/cpp/AlexNet/alexnet --batch-size 256 -ll:g

[2021-09-29 12:48] roman955b commented on #232
If I increase the number of epochs to 10 the numbers change to  8356.08 samples/s (4 GPU's) and  7853.16 samples/s (8 GPU's)

[2021-09-29 12:48] ferdiko commented on #232
Okay.

Note that this only works when you don't want to load a new batch every iteration (which is done in the case that you use random data for benchmarking). Otherwise, this should work:
[code]

About the performance: Try to set `--ll:util 4` and maybe also play around with `--ll:bgwork` (set it to 2 or 4 or so) -- this can help if utility is your bottle neck. I don't know what the best configur

[2021-09-29 12:58] roman955b commented on #232
Thanks for your help.  A few technical questions:
How do I specify a dataset to run with?
How do I execute only a few iterations? I only see the option to control the number of epochs.
The code change discussed in this thread is applied inside the code of workload. How can we achieve the same using the python interface (the alexnet python example doesn't have the for loop from the previous post).

[2021-09-29 12:58] ferdiko commented on #232
How many CPUs do you have? If you have more than 1, try to also set `-ll:cpu N`

[2021-09-29 13:03] ferdiko commented on #232
1. You can provide a path to a data set using a command line arguement.
2. Few iterations for profiling: `int iterations = data_loader.num_samples / ffConfig.batchSize;` (line 96 in master's `alexnet.cc`). Just set `iterations` to whatever you want.
3. I don't know about python. @eddy16112 @jiazhihao

[2021-09-29 14:58] roman955b commented on #232
I ran now with profiling, using the MCMC mapping for 4 and 8 GPU's and I cannot see that anything but the "channel" being (partly) saturated (periodically reaching 100% utilization).  The profiles for 4 and 8 GPU's are close to identical.
Command line arguments:
`./examples/cpp/AlexNet/alexnet --batch-size 256 -ll:gpu 8 -ll:fsize 8192 -ll:zsize 12192 --budget 0 --import MCMC_8gpus.txt --epochs 1 -

[2021-09-29 15:00] roman955b commented on #232
Strategies of previous post:
[MCMC_8gpus.txt](https://github.com/flexflow/FlexFlow/files/7252963/MCMC_8gpus.txt)
[MCMC_4gpus.txt](https://github.com/flexflow/FlexFlow/files/7252964/MCMC_4gpus.txt)

[2021-09-29 16:41] ferdiko commented on #232
It looks like communication is a bottle neck. You can try to increase `-ll:bgwork` for that (which you might have tried already). Apart from that I don't have other ideas ... If increasing `-ll:bgwork` doesn't work, it could be that the problem lies in the model / parallelization strategy and not your configuration. Maybe it's hard in that setting to get rid of the communication bottle neck (incre

[2021-09-29 16:45] ferdiko commented on #232
Things you could check are: On 8 GPUs, is the MCMC strategy faster than data parallelism (just don't set budget and don't do `--import` etc.). If not, then the problem lies with the parallelization strategy -- did you give it enough budget? Did you configure things right? AFAIK FlexFlow doesn't do probing of how much bandwidth your interconnects have etc.

But again, I don't really have good ideas

[2021-09-29 17:21] roman955b commented on #232
Using the command line:
`./examples/cpp/AlexNet/alexnet --batch-size 256 -ll:gpu 8 -ll:fsize 8192 -ll:zsize 12192  --epochs 1  -ll:cpu 30 -ll:util 10 -ll:bgwork 26 -lg:prof 1 -lg:prof_logfile prof_1.gz `
gives x10 lower throughput (440.04 samples/s)
Seems a little bit too large of a difference to me.

[2021-09-29 17:30] ferdiko commented on #232
haha XD. I would try: -ll:cpu 8 -ll:util 4 -ll:bgwork 8 . Something like that. cpu, bgwork (and also util) seem too high to work well. If you can't get on a good track searching in that area, then I also don't have further ideas (except for quickly checking if the parallelization strategy outperforms simple baselines, as mentioned above).

Good luck!

[2021-09-29 18:27] roman955b commented on #232
Indeed the optimization of the MCMC reduces the bandwidth bottlenecks. Attached two screenshots from the profiling that indicates how the "`Weight prefetch task`" is reduced from ~140ms down to ~11ms, and the "`SGD Parameter Server Update Task`"  goes down from ~67ms to ~4ms.

So definitely FF does a good job optimizing. However whereas the simulator indicates almost linear positive performance im

[2021-09-30 20:07] #232 closed

[2021-09-30 20:27] roman955b opened #233 "Reference numbers for AlexNet"
Hello,
What are the reference throughput numbers for AlexNet (on V100)?
What FlexFlow command line arguments were used for those results?

I get odd correlation between Throughput and Number of GPU's (using a docker assigned with 40 CPU's of an Intel Xeon, SKX 8180, and with 40 GB of RAM, and batch size = 256)
![image](https://user-images.githubusercontent.com/84937808/135523442-e07e6af1-c906-4029

[2021-09-30 21:05] roman955b commented on #233
Using batch size 512 I get similar behavior:
![image](https://user-images.githubusercontent.com/84937808/135530055-d1ff090c-9bc4-4003-8187-ceffd3d97006.png)

[2021-10-01 05:31] roman955b commented on #233
The behavior of the full parallelization strategy (purple graph) might give a hint to what is going wrong:
![image](https://user-images.githubusercontent.com/84937808/135570265-fba39b1a-a7f5-4792-89e9-7a14d6b782cc.png)

[2021-10-03 09:50] roman955b commented on #175
@Tron-x  How did you solve this in the end?

[2021-10-03 20:01] roman955b commented on #73
@jiazhihao I cannot reproduce the results that you report above:
[code]

Can you please share the `config/config.linux` that you used to create the build project (especially how is FF_USE_GASNET, FF_GASNET_CONDUIT and FF_USE_NCCL set)?

Also what is the exact command line  flags that you use to evaluate the strategy (especially:  -ll:py, -ll:util, -ll:bgwork, --batch-size)?

[2021-10-03 20:03] roman955b commented on #233
Compiling with NCCL removed the "Channel" bottleneck. @eddy16112

[2021-10-03 20:03] #233 closed

[2021-10-03 20:04] roman955b commented on #233
Still cannot reproduce the results of #73

[2021-10-04 13:31] roman955b commented on #73
@ghostplant Were you able to reproduce the AlexNet  results  of FlexFlow?
[code]

[2021-10-04 14:24] ghostplant commented on #73
Can reproduce this number on P100 only.

[2021-10-06 08:25] roman955b commented on #73
@eddy16112 @ferdiko  What are the full instructions to reproduce the results for AlexNet? Do you recognize the limitations reported on above?

[2021-10-10 11:32] DavidPeleg6 opened #235 "Unify branch: linking error in cpp examples"
In order to do a test run of the unify branch, I changed the `FF_BUILD_ALL_EXAMPLES` field to `ON` in the config.linux file.
However, the make command returns the following error:
[code]
My goal is to run the MLP_unify example, Is there a tweak I could add to the CMake file that would solve this?

[2021-10-10 12:33] DavidPeleg6 commented on #235
Sure, should I change only the `cpp_driver.cc` file or all cpp tests?

[2021-10-12 13:32] roman955b opened #236 "FlexFlow on K8S"
Are there any known limitations for running FF across multiple nodes on Kubernetes?

[2021-10-15 02:59] roman955b opened #237 "Is the "batch size" flag controlling the per-gpu batch size or the effective batch size across all gpu's?"
Is the "batch size" flag controlling the per-GPU batch size or the effective batch size (the total batch size) across all GPU's?

[2021-11-23 09:11] ConnollyLeon opened #239 "RTX 3090 not supported?"
I am trying to build FlexFlow with RTX 3090.
But I got
[code]
when trying to build deps/nccl.

Any Suggestions to solve this?

[2021-11-23 16:20] eddy16112 commented on #239
If the error comes from the NCCL, can you try to disable the NCCL?
https://github.com/flexflow/FlexFlow/blob/master/config/config.linux#L34

[2021-11-24 01:01] ConnollyLeon commented on #239
I tried, but got this error:
[code]

[2021-11-24 03:11] eddy16112 commented on #239
When FF_USE_NCCL is set to OFF, you should not see deps/nccl are compiled.
Also, please check the output of CMake, you should see something like this:
-- CUDA Detected CUDA_ARCH : 61
check if the number is correct for your GPU.

[2021-11-24 06:29] ConnollyLeon commented on #239
Well... I found out that I should delete all generated files created by `config/config.linux` before building with other configurations.

I have set FF_USE_NCCL to OFF now, but I got this error:
[code]
I am sure 86 is correct arch number for RTX 3090.

[2021-11-24 17:35] eddy16112 commented on #239
How do you set the FF_CUDA_ARCH? You will need to set it to 86 not compute_86.

[2021-11-25 02:56] ConnollyLeon commented on #239
I didn't set FF_CUDA_ARCH. It is set automatically.

[2021-11-25 03:56] eddy16112 commented on #239
Please check this link, https://github.com/NVIDIAGameWorks/kaolin/issues/351, it could be a driver issue.

I am sorry I do not have a RTX 3090, so I can not test it for you. Can you type "make VERBOSE=1" and paste the output for cuda_compile_1_generated_legion_redop.cu.o, I just want to make sure the generated makefile is correct.

[2021-12-04 09:14] SauryLi opened #242 "Failed to run resnet and transformer examples"
Testing Environment:
Docker: nvidia/cuda:11.1-devel-ubuntu18.04+cudnn8.0.5
4 x 2080Ti GPUs
FlexFlow : 7ea50d7 (master branch, Nov 24, 2021)

Hello, I am running resnet and transformer in cpp/examples, but I get the following errors:

**For resnet:**

---

**For Transformer:**

Debug result shows that the implementation of Linear::backward2_task() has bugs.

---
@jiazhihao Thanks for your help!

[2021-12-14 08:49] #242 closed

[2022-01-10 20:46] santhnm2 opened #251 "Build issue - unable to create flexflow_cffi_header.py"
I have been unable to build FlexFlow due to what appears to be an issue creating flexflow_cffi_header.py. Here's the relevant snippet from my build log (the full log is here: [ff_build.log](https://github.com/flexflow/FlexFlow/files/7841773/ff_build.log)):
[code]

I ran the same build command with the same repository (shared on a distributed file system) on a different server and it was able to su

[2022-01-11 01:21] jiazhihao commented on #251
It seems you used Makefile to build FlexFlow. Can you switch to cmake (https://github.com/flexflow/FlexFlow/blob/master/INSTALL.md#2-build-the-flexflow)? We recommend users to use cmake to compile FlexFlow.

[2022-01-11 01:39] santhnm2 commented on #251
I followed the instructions at that link which were:
[code]
So the output I included is from the `make` command after running `config/config.linux` which I believe calls `run_cmake`. Is there an alternate way of compiling with cmake you recommend?

[2022-01-11 02:09] jiazhihao commented on #251
The issue was a link error
[code]

Can you check if the issue is fixed by the most recent commit `9930e7f06105`?

[2022-01-11 02:46] santhnm2 commented on #251
Yup that fixed it, thanks Zhihao!

[2022-01-11 02:46] #251 closed

[2022-01-12 01:28] jiazhihao opened #254 "Assertion failure in the unify branch"
Reproducer:
[code]

The issue is that in `flexflow_op_get_parameter_by_id`, the Layer handle refers to an INPUT layer but not a Dense layer.

[2022-01-12 18:19] santhnm2 commented on #232
I'm seeing this warning as well when running a Python Keras MLP model with the MCMC-optimized strategy:
[code]
I also do not see this warning when running with vanilla data parallelism, and the throughput with vanilla data parallelism is about 5x better than the throughput with the MCMC strategy. I used the flags `-ll:cpu 8 -ll:util 4 -ll:bgwork 8` as suggested above. Is there a Legion flag we can

[2022-01-12 21:38] jiazhihao commented on #254
@eddy16112 ran into the following issue after your fix:
[code]
The issue is that self.dims is an `int` for the bias term of a Dense layer.

[2022-01-12 22:36] eddy16112 commented on #254
It is because the dims of the bias was set to (tensor->dims[0]) instead of (tensor->dims[0],), so the dims became a int not an array. I have pushed a fix for it.

[2022-01-13 02:42] jiazhihao commented on #254
Fixed.

[2022-02-25 04:14] Flasew opened #257 "Embedding table"
Hello,

I encountered an issue with FlexFlow's embedding table operator when trying to run the DLRM C++ example.

Procedure to reproduce the bug:
Build FlexFlow with cpp examples enabled. In the DLRM example, run the following command:

`./dlrm -ll:gpu 1 -ll:fsize 30000 -ll:zsize 40000 -ll:util 4 --control-replication --enable-inplace-optimizations --nodes 4 --embedding-bag-size 100 --arch-sparse-

[2022-02-25 15:09] Flasew commented on #237
I believe it refers to the batch size across all GPUs.

[2022-03-02 08:14] SauryLi opened #259 "Allocation failure when running alexnet on multi nodes"
I'm using mpi conduit to run alexnet demo on 2 nodes, each node has 4 2080TI gpus.
The alexnet demo fails when fsize is set to 6000 and batch_size is set to 32. The node has ~40GB and OOM should not happen.

hostfile content is:
localhost
node1

Any Suggestions to solve this? Thx a lot.

[2022-03-03 10:14] SauryLi commented on #259
I have solved this problem, by using `mpirun -n 2 -N 1 -H node21:1,node22:1 ./alexnet -ll:gpu 4 -ll:cpu 4 -ll:fsize 6000 -ll:zsize 10000 -ll:util 4 --batch-size 32 --export test.txt --search-budget 1000 --search-alpha 0.05 --enable-parameter-parallel`

[2022-03-03 10:15] #259 closed

[2022-03-04 07:32] IdaBear opened #260 "NCCL error when running Alexnet demo on two nodes"
I'm using mpi conduit to run alexnet demo on two nodes, each node has 4 2080Ti GPUs(~10G memory per GPU).

The strategy file can be generated properly, but nccl error occurred when I use stra_file to train alexnet model.

My command line likes below
`mpirun -n 2 -N 1 -H node1:1,node2:1 -mca btl_tcp_if_exclude docker0 ./alexnet -ll:gpu 4 -ll:cpu 4 -ll:fsize 6000 -ll:zsize 10000 -ll:util 4 --batch-s

[2022-03-07 16:43] MadFunMaker opened #261 "[Issues when running examples] watchdog: BUG: soft lockup - CPU#0 stuck for 23s!"
I am trying to run cpp examples in FlexFlow (e.g., InceptionV3). I built FlexFlow successfully with the following configuration:

However, when I run FlexFlow examples such as Inception V3, it always incurs the following kernel error after finishing training or violating assertion:
`kernel:[256610.941256] watchdog: BUG: soft lockup - CPU#29 stuck for 22s! [inception:274704]`

Does anybody have any

[2022-03-07 21:26] eddy16112 commented on #261
Have you tried other examples?

[2022-03-17 19:05] eddy16112 opened #262 "bert_proxy does not work on unity branch"
bert_proxy example does not work on unity branch, and here is the error message:

Looks like it is because the tensor is created by create_tensor, and has no owners yet

[2022-03-28 01:26] MackZackA opened #263 "make failed when building nvcc objects - installing FlexFlow according to tutorial"
I am setting up FlexFlow on an EC2 instance, following tutorials in

The make process errored when building NVCC objects at 47%.
The error message showed: "/usr/local/cuda/include/crt/host_config.h:129:2: error: #error -- unsupported GNU version! gcc versions later than 7 are not supported!"

[2022-03-28 01:39] eddy16112 commented on #263
Which CUDA version are you using? I think you are using a old version of CUDA. I think you can either using a newer CUDA or a gcc lower than 7.0

[2022-04-06 11:18] act-reds commented on #154
Hey, I have exactly the same issue, and I followed the basic installation... Everything is running smooth for native and keras examples but the following error appears when running pytorch examples :
 ERROR: The binary was compiled for the wrong GPU architecture. Update the 'GPU_ARCH' flag at the top of runtime/runtime.mk to match/include your current GPU architecture (75).
Aborted (core dumped)

[2022-04-07 07:48] MiZhangWhuer commented on #154
I suggest you to give up this repository and it has not been updated for a long time. I am working on another project called LuoJiaNet, which enables users set parallelism easily. It will be released in the next month. Looking forward further communication !

在 2022-04-06 19:18:42，act-reds ***@***.***> 写道：

Hey, I have exactly the same issue, and I followed the basic installation... Everything is

[2022-04-07 09:12] eddy16112 commented on #263
@MackZackA I think the issue is fixed, right? If so, I will close the it.

[2022-04-07 19:10] eddy16112 commented on #154
@act-reds The binary is generated from this file
https://github.com/flexflow/FlexFlow/blob/master/python/main.cc
There is really no gpu arch check in python code.

Using FlexFlow on Pytorch does not mean you can actually run Pytorch code directly. There are two ways:
1. Frist, convert the Pytorch model into IR (file) that can be recognized by FlexFlow.
Run this file, https://github.com/flexflow/Fl

[2022-04-08 07:54] act-reds commented on #154
My bad, I see my sentence wasn't accurate, I meant I was looking inside the *.cc files in the FlexFlow/python folder (used to generate the flexflow_python file used.

This works well with keras and native. Also the auto detection is working well so it's not about the flags either. I don't see any issue using different GPUs, which is nice. Also, the parallelism seems pretty efficient since both GPU

[2022-04-26 14:58] TonyTangYu opened #267 "ERROR: The binary was compiled for the wrong GPU architecture. Update the 'GPU_ARCH' flag at the top of runtime/runtime.mk to match/include your current GPU architecture (80)."
I installed FlexFlow from the source code.
When testing FlexFlow with pytorch interface, errors occurred.  Our environment is PyTorch 1.5, cuda 11.0, and cudnn 8.0. After installing FlexFlow, we came into the following error when running `./flexflow_python $FF_HOME/examples/python/pytorch/mnist_mlp_torch.py -ll:py 1 -ll:gpu 4 -ll:fsize 2048 -ll:zsize 12192`.

I tried to specify the `FF_CUDA_ARCH=8

[2022-04-26 15:11] TonyTangYu commented on #267
@jiazhihao  Thanks for your reply. The following is the output of running config/config.linux:

Is there any help?

[2022-04-26 15:22] jiazhihao commented on #267
The cmake output indicates that only CUDA_ARCH 80 is involved in building FlexFlow. Can you confirm that this is a clean build? @eddy16112 any idea?

[2022-04-26 15:25] TonyTangYu commented on #267
@jiazhihao Yeah, I always make a new build folder as long as I change the config/config.linux file. FYI, our GPU is A100.

[2022-04-26 18:56] eddy16112 commented on #267
@TonyTangYu What kid of machine are you using? AWS? @jiazhihao Actually I have seen people had the same issue, but I just can not reproduce it on my machine. Check this issue https://github.com/flexflow/FlexFlow/issues/154

[2022-04-26 18:59] knagrecha commented on #267
@eddy16112 I was one of the users in issue #154, I was using Kubernetes pods on an academic private computing cluster. Had a single 1080 GPU, errors would occur even after pod teardowns and relaunches.

[2022-04-26 19:08] eddy16112 commented on #267
@knagrecha Can you please check the output of nvidia-smi?

[2022-04-27 06:41] TonyTangYu commented on #267
@eddy16112  I have read and tried the solutions mentioned in issue #154 and #188 . Unfortunately, they didn't work for me. I am using on an academic private computing cluster, each node equipped 8 GPUs.

[2022-04-27 06:54] eddy16112 commented on #267
Can you try the makefile instead of the cmake? Sometimes, the cmake will add some flags and hard to debug.

[2022-04-27 06:57] TonyTangYu commented on #267
@eddy16112 Thanks for your quick reply. Could you please offer me instructions of trying the makefile instead of the cmake?

[2022-04-27 07:19] eddy16112 commented on #267
@TonyTangYu You can check my last comment on how to use makefile. But before trying it, you can also try VERBOSE=1 make -j with cmake, and paste the verbose info for cu files.

[2022-04-27 09:26] TonyTangYu commented on #267
@eddy16112  I tried your comment on how to use makefile. However, it didn't work for me. The error still exists.

[2022-04-27 15:02] TonyTangYu opened #268 "measure_operator_cost not implemented for op Cache_103"
I installed FlexFlow from the source code. When I test moe in examples/cpp/mixture-of-experts folder, it gave me the following error: `measure_operator_cost not implemented for op Cache_103  (type 25). Please report this issue to the FlexFlow developers.`

[2022-05-06 06:50] lockshaw opened #269 "Add minimum python version to CMake file"

[2022-05-06 06:57] lockshaw opened #271 "Verify C++11 compatibility in Unity branch"

[2022-05-12 21:42] fdouglis commented on #267
@TonyTangYu did you happen to sort this out?  I am hitting the same issue, perhaps even on the same system (8 A-100s -- is it a Lambda Labs server by any chance?)

[2022-05-13 07:40] JialongZhou666 commented on #239
Hi, have you solved this question?

[2022-05-19 09:48] JialongZhou666 opened #277 "Always "Aborted (core dumped)""
I have tried many python examples in the keras folder, all of them showed "Aborted (core dumped)".
<img width="891" alt="截屏2022-05-19 17 47 43" src="https://user-images.githubusercontent.com/65952233/169265107-b8462d87-a019-4ecd-bfb2-c213495220dc.png">
The result is in the picture.
What is the problem?

[2022-05-19 09:50] JialongZhou666 commented on #277
My machine is RTX 8*3090. flex flow 1.0, tensorflow and tensorflow-gpu 2.9.0.

[2022-05-19 23:09] eddy16112 commented on #277
You should not run the example using the native python interpreter. Please check this link on how to run FlexFlow examples.
https://github.com/flexflow/FlexFlow/blob/master/INSTALL.md#2-run-flexflow-python-examples

[2022-05-20 09:49] JialongZhou666 commented on #277
oh, thank you.
But there is another question:
ModuleNotFoundError: No module named 'keras_preprocessing'
I met this error when running "./flexflow_python ~/FlexFlow/examples/python/keras/func_cifar10_alexnet.py -ll:py 1 -ll:gpu 8 -ll:fsize 800 -ll:zsize 400", but in the pip list I have this module. So how to solve this question?
<img width="1127" alt="截屏2022-05-20 17 48 55" src="https://user-image

[2022-05-20 10:01] JialongZhou666 commented on #277
It seems like that some libraries, such as tf and keras. They cannot be imported when running "./flexflow_python ~/FlexFlow/examples/python/keras/func_cifar10_alexnet.py -ll:py 1 -ll:gpu 8 -ll:fsize 800 -ll:zsize 400".
<img width="1142" alt="截屏2022-05-20 18 00 17" src="https://user-images.githubusercontent.com/65952233/169504729-cdf1dbee-97af-40e0-8de2-13b5d0da5ccc.png">
The pic shows that I can i

[2022-05-21 07:22] eddy16112 commented on #277
Yes, it is because of two reasons.
1. there are resource contention between the underline runtime of TF/PyTorch and FlexFlow.
2. FlexFlow and TF/PyTorch may use some common third party libraries, but it is difficulty to know which version is used in TF/PyTorch. If you end up compiling FlexFlow using the version that is different from the one used in TF/PyTorch, you could run to unexpected errors.

[2022-05-27 02:56] MiZhangWhuer commented on #154
Hi, act-reds,
      Have you solved the problem? We've open the source code for data-parallel, model-parallel and hybrid-parallel in luojianet repository: https://github.com/WHULuoJiaTeam/luojianet
      Hope this help you get rid of trouble.

[2022-05-30 06:11] act-reds commented on #154
Hi MiZhangWhuer,

I managed to solve the problem, yes. I still can't use the python API of FlexFlow to use parallelism for transformers, and I am now working on the modifications required to adapt the framework for this purpose.

I'll have a look on your repository to see how you guys implemented it.

Thanks for the update concerning your tool !

[2022-06-06 05:26] #277 closed

[2022-06-29 18:54] wmdi opened #281 "Cuda assertion failure"
CUDA assertion fail when running the ResNet example in unify branch.

[code]

[2022-06-29 19:07] #281 closed

[2022-07-06 08:28] sydneyhauke opened #282 "Incorrect type checking of ScalarFloorDivNode operands"
If I correctly understand the following line :
https://github.com/flexflow/FlexFlow/blob/ad627c9dd7cac82f7894320a8d896b3b55e6b2dc/python/flexflow/torch/model.py#L1706
scalar floor division supports only int or float operands.

Then the check is erroneous. We should crash when `scalar` is not an int *and* is not a float.

[2022-07-15 08:25] LandonWong opened #283 "Incompatible Python version raised by python (flexflow/driver)"
Hello,

FlexFlow did the compilation flawlessly. But when I tried to test it, I encountered the following problem:

[code]

I think it is python paths related issue, because there are both python2.7 and 3.8 there. I have read the code, when version < 3.6 it will raise this error. So I tried to specify the path manually as follows:

+ First attempt: modified `python/Makefile`, manually specified th

[2022-07-15 08:32] LandonWong commented on #283
I think it is similar to #29 , but this auto detecting didn't work for me

[2022-07-15 08:57] eddy16112 commented on #283
First, you can check the python version. Just run
[code]
You will be in the interactive mode, then run the following code:
[code]
Make sure the version is 3.8

Second, there is another error:
[code]
You will need to `export PYTHONPATH=/path-flexflow-root/python:$PYTHONPATH`

[2022-07-15 10:04] LandonWong commented on #283
Thanks. I wonder how to manually specify the python path, because even after I straightly modified `deps/pybind11/tools/FindPythonLibsNew.cmake` and force to specify the path to 3.8, it doesn't work either, always 2.7 (in gcc lib).  @eddy16112

[2022-07-18 02:49] LandonWong commented on #283
It works. Many thanks!

[2022-07-18 02:49] #283 closed

[2022-07-28 18:35] liayan opened #285 "Tensor FFModel::create_tensor Assertion `false' failed."
root@f38d051cad41:/usr/FlexFlow/python# ./flexflow_python ../examples/python/keras/func_mnist_mlp_net2net.py -ll:py 1 -ll:gpu 1 -ll:fsize 14048 -ll:zsize 12192 -b 64
[0 - 7ff60406e700]    0.086492 {3}{Mapper}: No strategy file provided. Use default data parallelism.
[0 - 7ff60406e700]    0.086542 {3}{Mapper}: No strategy file provided. Use default data parallelism.
[0 - 7ff60406e700]    0.086561 {

[2022-07-28 18:36] liayan commented on #285
Could anyone give it a look? Thanks.

[2022-07-28 22:25] eddy16112 commented on #285
Are you using the latest master branch? I can not reproduce your error, here is my output
[code]
Looks like you are missing three outputs
[code]

[2022-07-30 16:33] user11209 opened #287 "Building failed when compiling /home/FlexFlow/python/bindings.cc"
The `make` instruction failed on its last steps : (
[code]
The left out part of the output info is about building the previous 98% of the process and possible candidates of the called function. I will paste the entire output if needed.
I believe the following candidate is the most likely one, but am not sure.
[code]
Got this result on centos7 docker, with compiler gcc & gcc-c++ .

[2022-08-02 06:48] user11209 commented on #287
Could anyone please have a look at this? The Dockerfile provided doesn't work at all either.

[2022-08-02 07:02] eddy16112 commented on #287
Looks like it is the pybind11 issue, can you install the pybind11 using `pip install pybind11`?

[2022-08-02 08:23] user11209 commented on #287
I tried it in another docker built from `nvidia/cuda:11.1-devel-ubuntu18.04`, it said ```Requirement already satisfied: pybind11 in /opt/conda/lib/python3.9/site-packages (2.10.0)```, and then still reported the same error.

[2022-08-02 08:36] user11209 commented on #287
I will give further attempt when I get access to the previous centos7 docker.

[2022-08-04 08:58] user11209 commented on #287
The building process succeeded by deleting the `NULL` parameter from line `85` and line `92` in `python/binding.cc`. It seems pybind11 will complement the fifth argument with default value `handle()` and use the function `pybind11::array::array(const pybind11::dtype&, pybind11::array::ShapeContainer, pybind11::array::StridesContainer, const void*, pybind11::handle)` mentioned before. Does it cause

[2022-08-04 20:03] eddy16112 commented on #287
Are you able to share a docker image that I can give a try? We do use a old version of pybind11, but I just found out that the fifth argument is also `handle()` even in the old pybind11, so I am not sure why we never had any complain from the compiler before. Anyway, it should be find if you delete the `NULL`.

[2022-08-05 13:52] user11209 commented on #287
Sure, try `docker pull user11209/flexflow-image:v1`. Please inform me if there's anything wrong with my configuration,thx.

[2022-08-05 13:53] #287 closed

[2022-08-11 16:17] liayan commented on #285
Thanks for the reply. I am using ubuntu focal as host and bionic docker to run above error. I changed my enviroment to ubuntu bionic now, everything goes fine again. Seems there are some library conflicts with different distros.

[2022-08-11 16:18] #285 closed

[2022-08-27 14:08] LandonWong opened #300 "Compilation Error using the latest version of master branch"
All goes well but one puzzled error occured before finished, and no binary `flexflow_python` file generated. My gcc version is 7.3.0.
[code]
Besides, has the merge of Unity into master finished?

[2022-08-27 18:07] jiazhihao commented on #300
Can you confirm that your FF_MAX_DIM is at least 5?

Yes, Unity has been merged into the master branch.

[2022-08-28 07:41] LandonWong commented on #300
Thank you. That's really help me pass the compilation, and I ignore the `FF_MAX_DIM` before.

Anyway, another error occured during runtime. The command I executed was `./flexflow_python ../examples/python/onnx/resnet.py -ll:py 1 -ll:gpu 4 -ll:fsize 8192 -ll:zsize 16384 --epochs 10 -ll:streams 1 -b 128`. It works for version r22.07, but doesn't work for the lastest version (master branch).

[code]

[2022-09-05 06:43] lockshaw opened #301 "Remove operator `is_valid` checks"

[2022-09-05 06:53] lockshaw opened #302 "Convert `ParallelTensor` to not be a typedef'ed pointer"

[2022-09-05 06:55] lockshaw opened #303 "Pull kernel functions out of operator classes"
Following https://github.com/lockshaw/FlexFlow/blob/feat/candle_split/include/flexflow/ops/linear_kernels.h

See discussion at https://github.com/flexflow/FlexFlow/pull/298#discussion_r956470999

[2022-09-07 09:46] lockshaw opened #304 "Replace `layer_guid` with separate `get_tensor` handling"

[2022-09-07 18:33] jiazhihao opened #306 "Deadcode Elimination"
Hi issue tracks the progress of eliminating `#ifdef DEADCODE` ... `#endif` marcos in the codebase.

[2022-09-11 15:51] liayan opened #309 "Multiple GPUs problem"
Hi, I understand that Flexflow(simulation) could support multiple GPUs, just wondering if it supports different type GPU at the same time? I checked the simulate code that it actually used handler[0] as the device, seems no support of different GPU atm, can I get more details here? Thanks in advance.

[2022-09-12 13:26] Sakura-gh commented on #175
I meet the same problem, so how can I deal with it ?

[code]

[2022-09-12 13:32] jiazhihao commented on #175
@Sakura-gh It seems the cmake didn't detect the CUDA runtime libraries. You need to update `CUDNN_DIR` and `CUDA_DIR` in `config/config.linux` to dirs that hold the CUDNN and CUDA header files and libraries. This should let cmake find the correct paths.

[2022-09-19 11:25] sunnie-star opened #314 "Please！Which files or functions are added in TASO to allow Unity to account for parallelization？"
In the paper "Unity: Accelerating DNN Training...", there's one sentence " To allow Unity to account for parallelization, we extend the fingerprint function in TASO  to include the parallelism degree of each tensor dimension."

In which files is the specific implementation method? If you could point out the specific function, that's really very grateful.

[2022-09-21 16:15] eric-zheng opened #315 "Fix parallel operators measure_operator_cost function"
The `sync_time`, `inputs_memory`, `outputs_memory`, and `weights_memory` should be set as 0 in the `measure_operator_cost` function of parallel operators.

The affected parallel ops include (may be an incomplete list):
- combine
- fused_parallel_op
- partition
- reduction
- replicate

To test the result, please run the mlp model multiple times with multiple GPUs and check the final cost number nea

[2022-09-26 06:49] Jack47 opened #318 "SEARCH.md is missing in README.md"
Autotuning's link is missing in [README.md pytorch support section](https://github.com/flexflow/FlexFlow/blob/d670657254059b3427a9705b8880fbb8a4ef1a5a/README.md#pytorch-support)

[2022-10-05 19:35] eric-zheng opened #328 "Add run time cost and memory cost information to the dot graph"
This issue is to add the feature to add the run time cost and memory cost information of each PCG node (and perhaps edge) to the dot graph generated at the end of the search procedure.

Perhaps we hope to have a command line argument to control whether we want to show such verbose information on the dot graph.

The run time and memory cost of a node when dumping the dot graph can come from `GraphS

[2022-10-05 19:37] eric-zheng opened #329 "Merge improved memory usage calculation back into master"
This issue to track the work to support memory cost calculation considering MachineView, devices, optimizations, etc.

[2022-10-07 21:38] lockshaw opened #334 "Multihead attention illegal memory access"
[code]
Sometimes results in
[code]

Reported by Byungsoo:

[2022-10-10 17:27] tnoyola opened #337 "`slice_tensor` does not support volume-changing operations"
`slice_tensor()` in [model.py](https://github.com/flexflow/FlexFlow/blob/master/python/flexflow/torch/model.py), currently only handles cases where the input and output volumes are the same, as it relies on reshape() (and is missing a couple cases in an if statement). This is a problem if the new shape is truncated such as in sequence length truncation (see error and reproducer below). A potential

[2022-10-11 19:49] lockshaw opened #339 "Assertion error in MLP_unify"
To reproduce: `./mlp_unify -ll:gpu 1 -ll:fsize 14000 -ll:zsize 14000 --budget 20 --search-num-nodes 4 --search-num-workers 2`

Output:
[code]

Potentially caused by #298.

[2022-10-12 05:00] gabrieleoliaro opened #340 "[MT5] - Occasional `Realm` assertion error"
When running the MT5 model with the following command: `flexflow_python examples/python/pytorch/mt5/mt5_ff.py -ll:py 1 -ll:gpu 1 -ll:fsize 14000 -ll:zsize 4096 --simulator-workspace-size 7057475584` I sometimes get the `Realm` assertion error below:

[code]

Full output:
<details>
<summary>Toggle here </summary>
<br>

root@050487f4cf2e:/usr/FlexFlow# flexflow_python examples/python/pytorch/mt5/mt5

[2022-10-12 05:07] goliaro opened #341 "[MT5] - measure_operator_cost not implemented for op mul_165_1000792_2000792"
When running the MT5 model with the following command: `flexflow_python examples/python/pytorch/mt5/mt5_ff.py -ll:py 1 -ll:gpu 1 -ll:fsize 14000 -ll:zsize 4096 --simulator-workspace-size 7057475584` I get the `measure_operator_cost` not implemented error below:

[code]

Full output:
<details>
<summary>Toggle here </summary>
<br>

root@050487f4cf2e:/usr/FlexFlow# flexflow_python examples/python/pyt

[2022-10-12 23:15] lockshaw commented on #315
Requires #339 to be fixed

[2022-10-12 23:46] lockshaw commented on #329
@eric-zheng Let's use this for tracking the merge back into master of the improved memory calculation on the memory branch

[2022-10-13 05:55] lockshaw opened #343 "Support gather operation"
A new op should be created to support https://pytorch.org/docs/stable/generated/torch.gather.html.

[2022-10-13 05:56] lockshaw commented on #343
@jiazhihao temporarily assigning to you, but feel free to re-assign it if you delegate it to a student :slightly_smiling_face:

[2022-10-13 05:58] lockshaw opened #344 "Support calling set_tensor before invoking `model.compile`"

[2022-10-13 06:00] lockshaw opened #345 "Document how to build with the `hip_rocm` backend on a machine without AMD GPUs"

[2022-10-13 06:14] lockshaw commented on #334
Potentially related report by Wonchan:
FF apparently segfualts on
[code]

[2022-10-13 08:04] lockshaw opened #346 "Fix incorrect hashing in simulator"

[2022-10-13 08:06] lockshaw commented on #341
I believe this is caused by #346, once I've merged the fix for that let's try running this again and see if it still happens.

[2022-10-13 08:26] lockshaw commented on #306
@virena You mind taking care of this? Should be pretty simple, just go through the code and remove any `DEADCODE` `ifdefs`. If any look important (i.e., things we should not be deleting for some reason) we can discuss them here.

No particular rush on this issue, just when you get time :slightly_smiling_face:

[2022-10-17 00:23] lockshaw commented on #343
@soumyac1999

[2022-10-17 00:25] lockshaw commented on #304
Connected to #344

[2022-10-17 00:25] lockshaw commented on #340
@jiazhihao Any thoughts on this?

[2022-10-17 01:13] lockshaw opened #348 "Add 3-dimensional tensor support"
Currently some parts of FlexFlow don't support 3-dimensional tensors. For example:

- https://github.com/flexflow/FlexFlow/blob/master/python/flexflow/keras/models/tensor.py#L100
- https://github.com/flexflow/FlexFlow/blob/master/src/ops/flat.cc#L23

These should be fixed. Depending on how many components need to be fixed this may be split into multiple issues.

[2022-10-17 01:15] lockshaw opened #349 "`create_constant` is broken"
@soumyac1999 Can you share a command to reproduce the issue you ran into and a copy of the error?

[2022-10-17 01:25] lockshaw opened #350 "Command-line parsing framework"
Currently FlexFlow's command-line parsing is rather adhoc (https://github.com/flexflow/FlexFlow/blob/2bc3e279955aea83b2400555b9b381e2b7b9b0b3/src/runtime/model.cc#L3388) and while this works reasonably well there is currently no good way to generate help messages. I looked into using a C++ command-line parsing framework a while ago but the need to support both FlexFlow options and pass-through Leg

[2022-10-17 01:26] lockshaw opened #351 "Fixing and integrating the substitution generator"

[2022-10-17 01:26] lockshaw opened #352 "CI support for running single- and multi-GPU tests"

[2022-10-17 01:29] lockshaw opened #353 "Resume work on pytorch alignment code"

[2022-10-17 01:30] lockshaw opened #354 "Keras regularizer support"

[2022-10-17 06:03] soumyac1999 commented on #349
Code to reproduce (create_constant_test.py):
[code]

Command to run: `flexflow_python create_constant_test.py -ll:py 1 -ll:gpu 1 -ll:fsize 2048 -ll:zsize 12192`

I think I am passing incorrect parameters to `create_constant` but https://github.com/flexflow/FlexFlow/blob/master/src/runtime/model.cc#L1167 will fail in any case.

Log:
[code]

[2022-10-17 06:11] soumyac1999 commented on #354
Not blocking. I don't expect this to be blocking in the near future.

[2022-10-17 06:14] soumyac1999 commented on #344
Not blocking. Don't anticipate this being a necessity in the future unless training the model proves difficult without this.

[2022-10-17 06:20] soumyac1999 commented on #343
Not blocking at the moment since I am currently working on the baseline. However, will need `gather` for the GNN model.

[2022-10-17 22:00] goliaro opened #355 "Accuracy errors"
When running the `$FF_HOME/examples/python/keras/func_mnist_mlp_concat.py` example as part of the python tests (`python/test.sh` script), I get the following error:

[code]

Full output:
<details>
<summary>Toggle here </summary>
<br>

[code]
</details>

[2022-10-17 22:47] goliaro opened #356 "`sink_nodes.size() == 1` assertion fails"
I'm currently getting the error below when running the `print_layers.py` example as part of the `python/test.sh` test script:

[code]

[2022-10-18 03:38] goliaro opened #357 "test.sh script does not allocate enough GPU memory"
When running the `test.sh` script, we get a significant number of failures due to insufficient GPU memory

[2022-10-18 03:43] gabrieleoliaro opened #359 "No overload of `get_params_hash` for some operators"
After merging PRs #326 and #321 , some operators are still missing in the `src/runtime/operator_params.cc` switch statement, and as a consequence, we still get instances of the "no overload of `get_params_hash`" for some operators. For instance, I just got this error:

[code]

We should fix this issue by adding all missing operators to the switch statement.

[2022-10-18 04:31] lockshaw opened #362 "Clarify what the current full test suite is"
https://github.com/flexflow/FlexFlow/blob/2bc3e279955aea83b2400555b9b381e2b7b9b0b3/CONTRIBUTING.md?plain=1#L11 states to "run the tests", but I'm not aware of any current list stating what the current set of tests/test-scripts are and under what conditions they should be run. This should be clarified.

[2022-10-18 04:36] lockshaw commented on #362
Current tests that I am aware of:
- `tests/unit`: should be run every commit, does not rely on GPUs at all, run by setting `FF_BUILD_UNIT_TESTS=ON`and then running `<build_dir>/tests/unit/unit-test`
- `accuracy_tests.sh`: monitors the accuracy of model training for a four basic image models on CIFAR10. Can easily be run on even a single GPU on a single node without waiting long.
- `multi_gpu_tests

[2022-10-18 04:41] lockshaw opened #363 "Support subtensor/slice operator"
Currently #337 is being fixed by using `split`, but this wastes memory as the unused part of the tensor is still allocated. Implementing a subtensor operator that functions similarly but does not allocate the other tensors would be optimal (that or modify split to not allocate certain outputs -- @jiazhihao any thoughts?)

[2022-10-18 05:00] lockshaw commented on #356
I'll take a look at this when I get some time

[2022-10-18 06:41] #315 closed

[2022-10-18 07:01] lockshaw opened #364 "Add fused parallel tensor constituent ops to dot graph"
@eric-zheng I believe you have a fix for this on the memory branch, can you merge it back to `master`?

[2022-10-18 07:17] soumyac1999 opened #365 "Support for math operations on intermediate tensors"
**Context:**
I am implementing a VAE in FlexFlow. In VAEs, the encoder returns `(mean, cov)` of a Gaussian. A sample is drawn from this Gaussian and passed to the decoder. However, since sampling is not differentiable, the sampling is reparameterized as `mean + N(0, I) * cov`. For my particular implementation, the covariance is assume constant, hence the encoder outputs `mean` and `mean + random_n

[2022-10-18 07:18] soumyac1999 commented on #365
@lockshaw, I don't think I can add assignees or labels

[2022-10-18 21:38] #359 closed

[2022-10-18 22:16] lockshaw commented on #303
A more up-to-date example is shown in #320

[2022-10-19 00:21] lockshaw opened #366 "Add conda support"
Make setup with conda a little easier and better documented

[2022-10-19 01:45] gabrieleoliaro opened #367 "Migrate `keras2onnx` to `tf2onnx`"
As per the package's homepage, `keras2onnx` is now deprecated, and has been replaced by `tf2onnx`

[2022-10-19 03:01] gabrieleoliaro opened #369 "`Realm::Cuda::GPUStream::reap_events(Realm::TimeLimit)` assertion error"
When I run the `examples/python/onnx/cifar10_cnn.py` example as part of the `test.sh` script, I get the error below:

[code]

[2022-10-19 13:38] #357 closed, assigned to goliaro

[2022-10-19 22:06] #364 closed

[2022-10-21 04:16] jiazhihao commented on #369
@gabrieleoliaro How many GPUs did you use for this run? Would be great if you can rerun the scratch with `--only-data-parallel` and see if you still observe the same issue.

[2022-10-24 06:32] lockshaw opened #375 "`ScalarTrueDiv` does not support deserialization"
![image](https://user-images.githubusercontent.com/6379332/197462007-1d2e793d-2744-43ef-82c0-2bdff40a61ea.png)

[2022-10-24 16:32] tnoyola commented on #375
Reproducer:
`LD_LIBRARY_PATH=$CONDA_PREFIX/lib:$LD_LIBRARY_PATH ./python/flexflow_python examples/python/pytorch/mt5/mt5_ff.py -ll:py 1 -ll:gpu 1 -ll:fsize 14000 -ll:zsize 4096 -b 8 --only-data-parallel`

[2022-10-25 19:22] lockshaw commented on #343
@soumyac1999 Thoughts?

[2022-10-26 02:02] reyna-abhyankar opened #376 "Segfault in `examples/cpp` tests"
The tests at `build/examples/cpp` segfault after elapsed time and throughput are computed (these are the OSDI tests). Main question is whether these MUST be run with multiple GPUs as in the examples.

Example:
`$FF_HOME/build/examples/cpp/resnext50/resnext50 -ll:gpu 1 -ll:fsize 12000 -ll:zsize 14000 -b 16 --budget 20`

Running it thorugh GDB reveals an unaligned `memset` issue.

[2022-10-26 17:11] lockshaw commented on #340
@tnoyola

[2022-10-26 17:36] eric-zheng commented on #376
I noticed this issue on the master branch as well.

[2022-10-26 17:38] eric-zheng commented on #362
I would also recommend to run the MLP_Unify example to check the correctness.

[2022-10-26 17:40] eric-zheng commented on #355
We had a similar issue on the multi_gpu_tests in the past. Zhihao fixed that by fixing a bug of the dataloader. Not sure why this happens though.

[2022-10-26 17:43] eric-zheng commented on #350
Usually, boost::program_options can be used as a simple command-line argument parser because C++ STL doesn't have such as thing. Or I saw people implement their own C++ cmd parser for large projects.

I would recommend to look into the boost option. But it means it's necessary to introduce boost as a dependency.

[2022-10-26 17:46] eric-zheng commented on #329
A draft to merge memory back to master (after merging master to the memory branch): https://github.com/flexflow/FlexFlow/pull/378

[2022-10-26 18:22] eddy16112 commented on #350
Can we use the cmdline parser from Legion? Then we do not have to introduce a new dependency. Here is an example: https://gitlab.com/StanfordLegion/legion/-/blob/master/tutorial/05_physical_regions/physical_regions.cc#L50-58

[2022-10-26 18:26] eddy16112 commented on #350
Forget about my suggestion. I just realized Legion's parser is the same as the C++ STL one.

[2022-10-26 21:57] goliaro opened #379 "[Build] Speed up compilation by storing binaries of dependencies"
Right now, compiling FlexFlow takes a while (~1h), and most of the compilation time is due to the compilation of dependencies such as Legion or NCCL, which we shouldn't need to recompile each time we want to build FlexFlow from scratch. To solve the issue, we should store the binaries of the dependencies on S3/Github/Sapling for some common configurations (CUDA arch, etc...) and, if the user's con

[2022-10-27 02:50] jiazhihao opened #380 "Support generic data types in OpMeta"
FlexFlow currently assumes that the input/output tensors of some operators are 32-bit floating points. This issues tracks the progress of supporting general data types for FlexFlow's operators. The list of todos:

- [ ] Add input/output/weight data type as properties in `OpMeta`. This allows forward/backward tasks to know the data types of the input/weight/output tensors
- [ ] Use GenericTensorAcc

[2022-10-28 05:24] #328 closed

[2022-10-28 05:30] lockshaw commented on #350
@eric-zheng I'm probably fine with this solution sas long is it's actually able to do what we want. Do you know if it's capable of handling both FF and Legion-style arguments?

[2022-10-28 06:41] lockshaw commented on #306
Also see https://github.com/flexflow/FlexFlow/blob/34a21dd7a3cf30100a9c4cb87318633495c001f9/python/flexflow_dataloader.cc#L782

[2022-10-28 06:45] lockshaw commented on #71
@eddy16112 Following up on today's meeting.

I belive you mentioned that this had potentially been added in #322. @gabrieleoliaro Can you update me on the status of this issue? If this is in fact fixed what will it take to get a package pushed to conda/pypi?

[2022-10-28 06:48] lockshaw opened #382 "Import pytorch models without requiring use of the native python interpreter"
As mentioned in the FF C++/Python bindings meeting, currently we can't import pytorch in `flexflow_python`, so a separate step must be performed to first export the torch fx representation to a file before the model can be trained. This issue looks into developing possible workarounds for this, either on the FF side or the Legion side.

@eddy16112

[2022-10-28 06:50] lockshaw opened #383 "Supporting both cffi and pybind"
Currently there are two separate backends for the FF python bindings, one using `cffi` and one using `pybind`. The goal of this issue is to discuss whether or not we want to remove one of these backends to reduce unnecesary code to maintain.

@eddy16112 @jiazhihao

[2022-10-28 06:53] lockshaw opened #384 "Look into current pybind bindings status"
As mentioned in #383, FlexFlow provides python bindings through both `cffi` and `pybind`. `cffi` is the default, and @eddy16112 mentioned that there may be issues with the `pybind` bindings following the unity merge. If #383 decides that we will continue to support the pybind bindings, then their current status needs to be investigated and tests for them need to be added to CI

[2022-10-28 06:55] lockshaw opened #385 "Mention that pytorch bindings are recommended in the README"
Since the `pytorch` bindings are the best-supported, the pytorch example should be first in the README and a line should be added stating that the pytorch bindings are the recommended ones.

[2022-10-28 06:58] soumyac1999 opened #386 "Add fails when model inputs are passed to it"
File to reproduce (a simple modification to https://github.com/flexflow/FlexFlow/blob/master/examples/python/keras/unary.py):
[code]

Error Message:
[code]

[2022-10-28 07:38] lockshaw commented on #386
Looks like a failure in Legion/Realm, so @jiazhihao should probably take a look

[2022-10-28 08:31] eddy16112 commented on #306
We have many data loader classes that are not used anymore, please see here
https://github.com/flexflow/FlexFlow/blob/master/python/flexflow_dataloader.cu#L128
On Python side, the following code can be removed
https://github.com/flexflow/FlexFlow/blob/master/python/flexflow/core/flexflow_cffi.py#L2195-L2240

[2022-10-29 02:29] williamberman commented on #345
Put together example cmake build script here https://github.com/williamberman/example-hip-build . Still needs to be tested on an amd machine and then will port into flexflow

[2022-10-29 15:14] jiazhihao commented on #349
The assertion failure should have been fixed by #390

[2022-10-29 16:27] jiazhihao commented on #386
This should be fixed by PR #391

[2022-10-29 16:30] jiazhihao commented on #383
I think we should focus on enhancing the support for one python binding, instead of dividing the effort equally into the two. My impression is that the current pybind support is not up-to-date, and in Unity we have been using the cffi approach.

[2022-10-30 11:12] #349 closed

[2022-10-30 11:14] #386 closed

[2022-10-30 11:16] lockshaw commented on #383
@eddy16112 @williamberman @gabrieleoliaro Any thoughts on this? I mainly want to make sure there arent any super-compelling reasons to use pybind before we remove it

[2022-10-30 17:46] williamberman commented on #383
no strong opinions as not terribly familiar with tradeoffs in this case

[2022-11-01 01:36] lockshaw opened #397 "Incorrect training in `mnist_cnn`"
Every so often on sapling, `mnist_cnn` in `accuracy_tests.sh` for 4 gpus will generate the following strategy:

[code]
([visualization](https://dreampuf.github.io/GraphvizOnline/#digraph%20taskgraph%20%7B%0A%20%20node0%20%5Blabel%3D%22%7B%20Conv_5000217%20%7C%205000217%20%7C%20%7B%204%20%7D%20%7C%20%7B%200%20%7C%201%20%7C%202%20%7C%203%20%7D%20%7D%22%2Cshape%3Drecord%5D%3B%0A%20%20node1%20-%3E%20n

[2022-11-01 02:11] lockshaw opened #398 "Remove circle ci config"
AFAIK we're not using CircleCI anymore, so the configuration should probably be removed.

@jiazhihao @gabrieleoliaro

[2022-11-01 02:49] jiazhihao commented on #398
Yes, circleci is not used anymore. We can remove that config.

[2022-11-01 12:55] liqing9399 opened #401 "master分支编译出错"
master分支编译出错。错误如下：

git submodule update 报错：
tao.li@BJSW-S03:~/workspace/FlexFlow/build$ git submodule update
fatal: remote error: upload-pack: not our ref 48da4329083209f7f7e0ba1dbcb0a9b633e823fb
Fetched in submodule path '../deps/legion', but it did not contain 48da4329083209f7f7e0ba1dbcb0a9b633e823fb. Direct fetching of that commit failed.

使用master 分支 legion编译时，同样编译出错：
In file included from /h

[2022-11-01 22:45] #192 closed

[2022-11-01 22:46] #14 closed

[2022-11-01 22:46] #38 closed

[2022-11-01 22:46] #66 closed

[2022-11-01 22:47] #78 closed

[2022-11-01 22:48] lockshaw opened #402 "Add Tensorboard support via TensorBoardX"
@zhihao Just to confirm this is still a feature we want to add?

[2022-11-01 22:50] lockshaw opened #403 "Add ability to store and load strategies to and from a file"

[2022-11-01 22:51] lockshaw opened #404 "Add C++ unit tests to validate operator serialization and deserialization"

[2022-11-01 22:52] lockshaw opened #405 "Move Legion index allocation into a separate compiler pass"

[2022-11-01 23:58] lockshaw commented on #401
Looks like something is wrong with your git submodule of legion? I can't replicate the issue locally, that commit appears to exist in the Legion remote at https://gitlab.com/StanfordLegion/legion.git. Is it possible that there is some network configuration that's not letting you access gitlab?

[2022-11-02 06:29] liqing9399 commented on #401
The problem may be that the repositories don't match. I'm using https://github.com/StanfordLegion/legion。Could it be that gitlab and github are not the same

[2022-11-02 07:02] eddy16112 commented on #401
You should use this branch https://gitlab.com/StanfordLegion/legion/-/commits/flexflow

[2022-11-02 07:30] liqing9399 commented on #401
I finished compiling using the master branch of legion. Do I need to change to the flexflex branch?

[2022-11-02 22:35] eric-zheng opened #406 "Search time is too long without --budget"
This issue is to raise up a problem that the search will not stop without the --budget flag for certain cases.

For example, this command will not finish within a reasonable amount of time.

`$FF_HOME/build/examples/cpp/DLRM/dlrm -ll:gpu 1 -ll:cpu 1 -ll:fsize 14000 -ll:zsize 20000 -ll:util 6 -ll:dma 4 -dm:memoize --embedding-bag-size 100 --arch-sparse-feature-size 64 --arch-embedding-size 1000000-

[2022-11-02 23:38] #36 closed

[2022-11-03 00:03] #2 closed

[2022-11-03 06:31] #4 closed

[2022-11-03 06:31] #5 closed

[2022-11-03 06:31] #7 closed

[2022-11-03 06:31] #9 closed

[2022-11-03 06:31] #10 closed

[2022-11-03 06:31] #17 closed

[2022-11-03 06:31] #19 closed

[2022-11-03 06:31] #20 closed

[2022-11-03 06:31] #28 closed

[2022-11-03 06:31] #35 closed

[2022-11-03 06:31] #37 closed

[2022-11-03 06:31] #47 closed

[2022-11-03 06:31] #51 closed

[2022-11-03 06:31] #52 closed

[2022-11-03 06:31] #56 closed

[2022-11-03 06:31] #58 closed

[2022-11-03 06:31] #61 closed

[2022-11-03 06:31] #62 closed

[2022-11-03 06:31] #63 closed

[2022-11-03 06:31] #67 closed

[2022-11-03 06:31] #70 closed

[2022-11-03 06:32] #73 closed

[2022-11-03 06:32] #129 closed

[2022-11-03 06:32] #138 closed

[2022-11-03 06:32] #154 closed

[2022-11-03 06:32] #157 closed

[2022-11-03 06:32] #166 closed

[2022-11-03 06:32] #175 closed

[2022-11-03 06:32] #185 closed

[2022-11-03 06:32] #186 closed

[2022-11-03 06:32] #187 closed

[2022-11-03 06:32] #188 closed

[2022-11-03 06:32] #193 closed

[2022-11-03 06:32] #195 closed

[2022-11-03 06:32] #200 closed

[2022-11-03 06:32] #202 closed

[2022-11-03 06:32] #204 closed

[2022-11-03 06:32] #205 closed

[2022-11-03 06:32] #209 closed

[2022-11-03 06:32] #215 closed

[2022-11-03 06:33] #216 closed

[2022-11-03 06:33] #217 closed

[2022-11-03 06:33] #218 closed

[2022-11-03 06:33] #227 closed

[2022-11-03 06:33] #230 closed

[2022-11-03 06:33] #235 closed

[2022-11-03 06:33] #236 closed

[2022-11-03 06:33] #237 closed

[2022-11-03 06:33] #239 closed

[2022-11-03 06:33] #257 closed

[2022-11-03 06:34] lockshaw commented on #271
@gabrieleoliaro If you have time can you make sure CI is doing this?

[2022-11-03 06:34] lockshaw commented on #48
@jiazhihao Should I keep this issue open?

[2022-11-03 06:35] #54 closed

[2022-11-03 06:37] lockshaw opened #408 "Add reduced precision training"

[2022-11-03 06:37] lockshaw commented on #57
Moving discussion to #408

[2022-11-03 06:37] #57 closed

[2022-11-03 06:52] #170 closed

[2022-11-03 06:53] lockshaw commented on #362
Also @jiazhihao what are these files: https://github.com/flexflow/FlexFlow/tree/master/tests/ops

[2022-11-03 06:55] lockshaw commented on #161
Discussion moved to #362

[2022-11-03 06:55] #161 closed

[2022-11-03 06:55] #221 closed

[2022-11-03 06:57] lockshaw opened #409 "Hugging Face Support"
@jiazhihao What's the current state of our support for Hugging Face models?

[2022-11-03 06:57] lockshaw commented on #228
Discussion moved to #409.

[2022-11-03 06:57] #228 closed

[2022-11-03 06:58] lockshaw commented on #260
Closing as out of date, feel free to reopen if this is still an issue.

[2022-11-03 06:58] #260 closed

[2022-11-03 06:58] #263 closed

[2022-11-03 06:59] lockshaw commented on #267
Closing as out-of-date for now, feel free to reopen if this issue still exists.

[2022-11-03 06:59] lockshaw commented on #261
Closing for now, feel free to reopen if this issue still exists.

[2022-11-03 07:00] #261 closed

[2022-11-03 07:00] #267 closed

[2022-11-03 07:01] lockshaw commented on #268
@virena Can you check and see if it's still not implemented? If it's not we can discuss with Zhihao if we plan on adding support for this

[2022-11-03 07:03] lockshaw commented on #282
@soumyac1999 Can you take a look into this issue? Should be a nice relatively introductory issue (either the current behavior is correct or it will only require a quick fix)

[2022-11-03 07:10] lockshaw commented on #314
Moving discussion to #351.

[2022-11-03 07:10] #314 closed

[2022-11-03 07:15] lockshaw commented on #318
@virena Up to taking care of this? Happy to help if you have any questions :slightly_smiling_face:

[2022-11-03 07:18] lockshaw commented on #309
Currently we only support homegeneous GPUs.

[2022-11-03 07:18] #309 closed

[2022-11-03 07:20] eddy16112 commented on #401
If you need to run with multiple nodes, then yes, otherwise, master branch should be fine.

[2022-11-03 07:24] lockshaw commented on #365
@soumyac1999 I forget, where did we land on this issue?

[2022-11-03 07:32] lockshaw commented on #343
@soumyac1999 Did you ever figure out the answer to this?

[2022-11-03 07:35] lockshaw commented on #355
@gabrieleoliaro Are you still planning on taking care of this?

[2022-11-03 07:35] lockshaw commented on #262
@eddy16112 What's the status of this issue? Looks like it was created a while ago, does the issue still exist?

[2022-11-03 07:37] lockshaw commented on #269
@williamberman Unfortunately I only vaguely remember this issue (and slack has since wiped those messages :cry:), but iirc there are issues if you try to install FF with too old of a python version, a constraint which should probably be checked in cmake rather than failing

[2022-11-03 08:02] eddy16112 commented on #262
I just double checked the example using the latest master branch, it still fails. Here is my cmd:
`./flexflow_python ../examples/python/native/bert_proxy_native.py -ll:py 1 --iterations 100 --seq-length 128 --num-heads 32 --hidden-size 4096 --num_layers 36 -ll:fsize 4096 -b 1 -ll:gpu 1`

[2022-11-03 08:05] lockshaw commented on #262
Sounds good. Are you planning on fixing it yourself or do we need to find someone?

[2022-11-03 08:26] lockshaw opened #410 "Add `clang-tidy` support along the lines of current `clang-format` support (both local and CI)"
@gabrieleoliaro We should also discuss potentially moving some of the infrastructure for the current `clang-format` support to under the FlexFlow org now that we have the third-party repo

[2022-11-03 09:45] liqing9399 commented on #401
ok，thanks

[2022-11-03 09:45] #401 closed

[2022-11-03 20:32] eddy16112 commented on #262
The issue is `set_tensor` is no longer supported, do we have a way to walk around it?
https://github.com/flexflow/FlexFlow/blob/master/examples/python/native/bert_proxy_native.py#L94

[2022-11-03 21:36] lockshaw commented on #383
Decision made: only supporting cffi

[2022-11-03 21:37] lockshaw opened #411 "Jupyter notebook support"

[2022-11-03 21:39] lockshaw commented on #411
Currently have a lot of log printing in C++ which makes the jupyter notebook inconvenient. We should also make sure the jupyter notebook is clearly mentioned in the main README.

[2022-11-03 21:40] lockshaw commented on #411
Ideas: add nice progress bar, directly return accuracy numbers to python rather than just C++ printing

Currently limited to a single node, does not work for multi-node (Legion limitation)

[2022-11-03 22:56] eddy16112 commented on #71
We are able to use native Python interpreter with pybind11/cffi on single node execution. To enable it, we need to `export FF_USE_NATIVE_PYTHON=1` before compiling the FlexFlow, currently, it is only supported with makefile.

The idea is to instead of explicitly launching the python top_level task, we launch a Legion implicit task for the top_level task directly from the main function.
https://git

[2022-11-04 02:52] lockshaw opened #413 "Add ability to build hip code on non-hip systems"

[2022-11-04 02:54] lockshaw commented on #413
Accidental.

[2022-11-04 02:54] #413 closed

[2022-11-04 07:25] soumyac1999 opened #414 "`set_tensor` on a newly created tensor"
Calling `set_tensor` on a tensor created using `create_tensor` fails.

**Code to Reproduce** (similar to https://github.com/flexflow/FlexFlow/blob/master/examples/python/native/bert_proxy_native.py#L91):
[code]
**Command**: `flexflow_python set_tensor.py -ll:py 1 -ll:gpu 1 -ll:fsize 8192 -ll:zsize 12192`

**Error**:
[code]
https://github.com/flexflow/FlexFlow/blob/3652efb8916ccc8605402a8c38c4c5132

[2022-11-04 07:49] lockshaw commented on #414
@jiazhihao Forwarding to you as it appears runtime-related

Maybe related to #344 ?

[2022-11-04 07:50] lockshaw commented on #414
@soumyac1999 What's the priority of this--blocking or more of a nice-to-have?

[2022-11-04 07:55] lockshaw commented on #71
@eddy16112 How does this impact the person using FlexFlow? Most of our tasks are C++, but would this mean that any form of python scripting would be impossible, or just that python subtasks would be impossible (which afaik wouldn't really have much impact for us)?

[2022-11-04 07:59] lockshaw commented on #71
Also @eddy16112 if we're going to be supporting this feature it would be nice to start to get it documented somewhere. @gabrieleoliaro should this go in the rtd or just in a repo in the readme somewhere?

[2022-11-04 08:00] lockshaw commented on #262
@jiazhihao What's the status of `set_tensor`?

Also linking #344 and #414

[2022-11-04 08:03] soumyac1999 commented on #414
This is not blocking at the moment. (Will be adding priority in future issues)

[2022-11-04 08:04] eddy16112 commented on #71
Just the python subtasks would be impossible. Yeah, we do not have python subtasks in FlexFlow. I also double checked with Mike, functionally, this approach should work on single node.

[2022-11-04 08:14] eddy16112 commented on #262
I think the problem here is `create_tensor` only create a TensorBase object, which is just an abstraction of a tensor, and has no logical regions attached to it until a ParallelTensor has been created, so we can not call `set_tensor`

[2022-11-04 08:28] soumyac1999 commented on #365
The particular operations which I have described above has been implemented. But will need to add a few other operations for the loss function. Should be close this and create a new issue?

Operations needed:
| Operation | Status (Keras) | Status (FlexFlow Python) | Status (FlexFlow C++) |
| --- | --- | --- | --- |
| Slice | #363 | https://github.com/flexflow/FlexFlow/blob/66545f7239ec70504d067561

[2022-11-04 08:47] soumyac1999 commented on #343
PyTorch's gather should work with some manipulation of the indexing.

[2022-11-04 08:54] lockshaw commented on #365
@soumyac1999 Sure, that'd be great--can you create one for each operator that we need to work on and assign it to me?

You can close this issue once that's done.

[2022-11-04 08:57] lockshaw commented on #262
Okay yeah I think this is exactly #344

[2022-11-04 09:00] lockshaw commented on #71
@eddy16112 So as with the jupyter notebook support this is constrained to work on a single node?

[2022-11-04 09:01] lockshaw commented on #414
This is the same issue as #344, so I'll close this one and we can move discussion and prioritization over to there.

[2022-11-04 09:01] #414 closed

[2022-11-04 10:29] soumyac1999 commented on #282
@sydneyhauke, the current check is indeed erroneous and will always return True. Thanks for pointing it out.

@lockshaw, I'll send in a PR. Meanwhile, some observations/questions on code style:

1. `assert 0` can usually be replaced by some more meaningful error check or raising more informative exceptions. Google style guide: https://google.github.io/styleguide/pyguide.html#244-decision and an ex

[2022-11-04 17:19] lockshaw commented on #282
Absolutely agree, happy to merge any changes with improvements to error reporting. Unfortunately in the rush to build stuff error reporting often gets left to last. If you're interested feel free to either create an issue to discuss refactoring there or start a discussion in flexflow-core. :slightly_smiling_face:

Situation-dependent: `isinstance` is more robust but can be slower, while `type` equ

[2022-11-04 17:25] lockshaw commented on #384
Closed as we're removing pybind support (see #383)

[2022-11-04 17:25] #384 closed

[2022-11-04 17:26] lockshaw commented on #383
@eddy16112 @gabrieleoliaro Do we have an issue created for removing the pybind support? If not can one of you create it? I'm closing this issue for now as the decision has been made.

[2022-11-04 17:26] #383 closed

[2022-11-04 18:29] lockshaw commented on #403
Also ideally add a C++ interface for specifying partial or complete strategies

[2022-11-04 18:30] lockshaw commented on #403
@gabrieleoliaro @daiyaanarfeen @jiazhihao (just so you're aware of this issue)

[2022-11-04 19:40] soumyac1999 opened #416 "More informative Python error messages"

[2022-11-04 20:30] jiazhihao opened #417 "Using `MAX_BUF_SIZE` to specify the maximum buffer size of a `Future` for both the FlexFlow and legion runtime."
This commit is a hack to the issue:
https://github.com/flexflow/FlexFlow/commit/3249a2c5b4ba65b37dc621bd3a3906e2bde0c509#diff-e50519a72374fef6d3b9564f0e507222151fb7ec3178236605ec810861d70859L87-R91. We should use `MAX_BUF_SIZE` in cmake to specify the maximum buffer size and let both FlexFlow and Legion use the specified values in compilation.

[2022-11-04 21:45] #282 closed

[2022-11-04 21:47] lockshaw opened #418 "Add tests for changes in #415"
Not urgent, but we should start to figure out how to add tests for the python frontend. I know there's currently the pytorch alignment tests, but I'm not sure about its current status or if it would have caught the bug in #282 (@jiazhihao any thoughts?).

[2022-11-06 01:33] virena commented on #318
This is now resolved in [master](https://github.com/flexflow/FlexFlow/blob/master/README.md). Both autotuning links take the reader to the Unity paper.

[2022-11-06 01:33] #318 closed

[2022-11-06 01:38] virena commented on #301
Status: tests are passing in search for single GPU but issue #376 was revealed during runtime

[2022-11-06 01:45] virena commented on #268
The current implementation sets all `cost_metrics` fields to 0. There is a `// TODO: implement` at the top, so I'm guessing we do want to support something a little more than a dummy function? @lockshaw

[2022-11-06 01:46] virena commented on #339
Status: blocked on #376

[2022-11-07 03:13] #398 closed

[2022-11-07 03:56] jiazhihao commented on #409
We can support the `mt5` model now. I believe that Teresa is trying the `bert` model.

[2022-11-07 04:09] jiazhihao commented on #418
We currently use [this script](https://github.com/flexflow/FlexFlow/blob/master/tests/multi_gpu_tests.sh) for testing the Python frontend, which only examines the basic functionality of the frontend. We will need to find a way to design more systematic python testing. Any suggestions from the community would be welcomed.

[2022-11-07 16:38] rajas1998 opened #424 "Add a new operator 'stop_gradient'"
This operator exists for JAX. Any of the operands as an input to the stop_gradient function, do not calculate gradients with respect to their inputs.

[2022-11-07 21:23] daiyaanarfeen opened #426 "fp16 support for linear, embedding, and conv_2d"
I want to add fp16 support for these layer types in order to use tensor cores on the V100 GPU

[2022-11-07 21:56] lockshaw commented on #362
This seems unlikely to be much of an issue for CI at least. @jiazhihao Can you provide a brief update of where the pytorch-alignment stuff is at (what it does, what operators it supports, what's left to do, what its limitations it has that we'll need other tests to address) in #353?

[2022-11-07 21:57] lockshaw commented on #418
@williamberman @gabrieleoliaro Thoughts on this issue? I'd like to start moving toward having more thorough (or any :slightly_smiling_face:) tests, but I think we need to figure out what form they're going to take.

This should probably also take into account the pytorch-alignment discussions in #353 and #362

[2022-11-07 22:23] lockshaw commented on #362
@jiazhihao In that case can we just delete those two files? Just want to get confirmation before I remove them :slightly_smiling_face:

[2022-11-07 22:35] lockshaw commented on #350
@jiazhihao What are your thoughs on replacing Legion's pass-through options? I know we've discussed this in the past. I suppose we'd have to define aliases for

- `-ll:gpu`
- `-ll:fsize`
- `-ll:zsize`
- `-ll:csize`
- `-level`
- `-logfile`
- `-lg:prof`
- `-lg:prof_logfile`

Can you think of any others we'd want to add? I suppose we can also add a `--legion-passthrough` option that allows additional

[2022-11-07 22:45] lockshaw commented on #268
@jiazhihao What does the `Cache` operator do? I'm guessing it's MoE-related? I know you'd mentioned some of those operators should be deprecated, is this one of them or should @virena go and implement `measure_operator_cost`?

[2022-11-07 23:03] lockshaw commented on #339
i.e., #346

[2022-11-07 23:06] lockshaw commented on #416
@soumyac1999 Do you have a well-defined idea of how to do this or do we need a broader discussion?

[2022-11-07 23:06] lockshaw commented on #424
@rajas1998 Are you planning to implement this yourself or do you need/want help?

[2022-11-07 23:07] williamberman opened #427 "Use nvidia packages for nccl cmake dependency"
Ideally we should treat nccl as a system dependency and allow the user to install with the standard installation method. We can then use find_library in the cmake scripts.

https://docs.nvidia.com/deeplearning/nccl/install-guide/index.html#down

We should still maintain the vendored nccl so flexflow still builds successfully with make.

[2022-11-07 23:10] lockshaw commented on #426
Linking #408

[2022-11-07 23:11] soumyac1999 commented on #416
Some things which I had in mind are
- replace all `if cond: assert 0` with `assert cond` or with `ValueError` or some more appropriate Exception than AssertionError.
- add details about inputs and expected values in error messages. Eg. "incorrect input shape" to "incorrect input shape. Got {input.shape}, Expected {expected_shape}"

[2022-11-07 23:14] lockshaw commented on #301
Linking #351

[2022-11-07 23:36] eddy16112 commented on #416
We can add type annotations and use mypy to detect type errors in CI.

[2022-11-07 23:51] lockshaw commented on #416
Linking this to #415

[2022-11-07 23:53] lockshaw commented on #416
@soumyac1999 Great, can you start creating new issues with reproducers for individual cases as you come across them and mention them here? We can keep this issue around for tracking the overall progress while using smaller issues to track individual concrete places we could improve messages

[2022-11-07 23:55] lockshaw commented on #427
@williamberman I assume this derives from #400? Is @gabrieleoliaro on board with doing this?

[2022-11-07 23:55] #375 closed

[2022-11-08 00:06] williamberman commented on #427
See slack thread on it. Not sure if makes sense to include in #400 or if should be done as a follow up

[2022-11-08 00:22] williamberman commented on #418
I'm focussed more on getting up to speed on operator substitution generation at the moment

[2022-11-08 00:33] lockshaw commented on #418
We'll keep this issue around to focus on tests for #415, but move the broader discussion over to #431

[2022-11-08 00:34] lockshaw commented on #353
Moving discussion to #429.

[2022-11-08 00:34] #353 closed

[2022-11-08 01:06] lockshaw opened #432 "Add shellcheck to CI"

[2022-11-08 04:15] williamberman opened #433 "Add FF_GPU_BACKEND=hip_rocm to CI"
As a follow up to https://github.com/flexflow/FlexFlow/pull/392, we should build with the hip_rocm backend in ci

[2022-11-08 04:26] lockshaw commented on #433
@williamberman @gabrieleoliaro Any volunteers?

[2022-11-08 04:33] lockshaw opened #434 "Kernel refactor for `Conv2D`"

[2022-11-08 04:34] lockshaw commented on #303
List of operators:

- `BatchMatmul`
- `Conv2D` (#434)
- `Concat`
- `Cast`
- `ElementBinary`
- `ElementUnary`
- `Dropout`
- `Embedding`
- `Flat`
- `LayerNorm`
- `Linear`
- `MultiHeadAttention`
- `NoOp/Input`
- `Pool2D`
- `Reshape`
- `Split`
- `Softmax`
- `Transpose`
- `Repartition`
- `Replicate`
- `Reduction`
- `Combine`
- `FusedParallelOp`

[2022-11-08 04:35] lockshaw opened #435 "Kernel refactor for `ElementBinary`"

[2022-11-08 04:36] lockshaw opened #436 "Kernel refactor for `Split`"

[2022-11-08 04:37] lockshaw opened #437 "Kernel refactor for `Linear`"

[2022-11-08 04:38] lockshaw opened #438 "Kernel refactor for `BatchMatmul`"

[2022-11-08 04:39] lockshaw opened #439 "Kernel refactor for `Concat`"

[2022-11-08 04:40] lockshaw opened #440 "Kernel refactor for `ElementUnary`"

[2022-11-08 04:41] lockshaw opened #441 "Kernel refactor for `Cast`"

[2022-11-08 04:41] lockshaw opened #442 "Kernel refactor for `Dropout`"

[2022-11-08 04:42] lockshaw opened #443 "Kernel refactor for `Embedding`"

[2022-11-08 04:43] lockshaw opened #444 "Kernel refactor for `Flat`"

[2022-11-08 04:43] lockshaw opened #445 "Kernel refactor for `LayerNorm`"

[2022-11-08 04:44] lockshaw opened #446 "Kernel refactor for `MultiHeadAttention`"

[2022-11-08 04:45] lockshaw opened #447 "Kernel refactor for `Pool2D`"

[2022-11-08 04:45] lockshaw opened #448 "Kernel refactor for `Reshape`"

[2022-11-08 04:46] lockshaw opened #449 "Kernel refactor for `Softmax`"

[2022-11-08 04:46] lockshaw opened #450 "Kernel refactor for `Transpose`"

[2022-11-08 04:47] lockshaw opened #451 "Kernel refactor for `Replicate`"

[2022-11-08 04:48] lockshaw opened #452 "Kernel refactor for `Repartition`"

[2022-11-08 04:48] lockshaw opened #453 "Kernel refactor for `Reduction`"

[2022-11-08 04:49] lockshaw opened #454 "Kernel refactor for `Combine`"

[2022-11-08 04:49] lockshaw opened #455 "Kernel refactor for `FusedParallelOp`"

[2022-11-08 04:54] lockshaw commented on #444
@soumyac1999 Should be a good relatively simple issue that'll help you get more familiar with the C++ level. More info in #303

[2022-11-08 04:57] lockshaw commented on #442
@gabrieleoliaro Might help you get a bit more experience with the C++ part of the code. Should be relatively simple, more info in #303

[2022-11-08 04:59] lockshaw commented on #443
@rajas1998 Should be a nice introductory issue for getting more familiar with the C++ part of the codebase. More info in #303

[2022-11-08 05:03] lockshaw commented on #444
If you have any questions feel free to hit up @virena

[2022-11-08 05:03] lockshaw commented on #443
If you have any questions feel free to hit up @virena

[2022-11-08 05:07] lockshaw commented on #445
More info in #303, should be a nice introductory issue to the C++ side of things. Feel free to hit up @virena if you have any questions. 🙂

[2022-11-08 05:10] lockshaw commented on #440
More info in #303, hit up @virena if you have questions

[2022-11-08 05:23] lockshaw commented on #446
More info in #303, @virena will likely be a good person to ask if you have any questions

[2022-11-08 07:33] williamberman opened #457 "Testing cmake gpu backend hip_rocm build on machine with AMD gpu"
Follow up from: https://github.com/flexflow/FlexFlow/pull/392

This build has been tested on a non-amd machine targetting rocm. It has been reported that at least when using docker, [the build fails](https://github.com/flexflow/FlexFlow/pull/392#issuecomment-1306720068). We should test this build directly on an amd machine and potentially integrate as a part of CI.

The amd gpus that aws provides

[2022-11-08 07:52] #345 closed

[2022-11-08 09:49] GYDmedwin commented on #457
@williamberman Thanks for your advice! After I tested it on my machine, the problem with the kfd not being accessible was solved. I also discovered two new problems:

1. When **FF_GPU_BACKEND  is hip_rocm** and  **FF_BUILD_ALL_EXAMPLES is ON**, the error message is as follows:
`CMake Error at examples/cpp/ResNet/CMakeLists.txt:14 (cuda_add_executable):
  Unknown CMake command "cuda_add_executable"

[2022-11-08 16:49] #379 closed, assigned to goliaro

[2022-11-08 21:05] williamberman commented on #457
@GYDmedwin Thank you for following up with this, super helpful!

CMake Error at examples/cpp/ResNet/CMakeLists.txt:14 (cuda_add_executable): Unknown CMake command "cuda_add_executable".

Very good catch, I can follow up with a fix.

 /FlexFlow/deps/legion/runtime/legion/legion_utilities.h:872:7: error: no matching function for call to 'memcpy'
 memcpy(&element, buffer+index, sizeof(T));

For this,

[2022-11-08 21:17] williamberman commented on #457
@lockshaw I was thinking that this was an unnecessary use of `cuda_add_executable` instead of `add_executable` similar to as was previously done in `tools`. However it looks like many of the examples do have cuda code with no alternative hip code.

We have a few options,

1. throw an error during configure if attempting to build examples and the backend is hip
2. select examples that are not depen

[2022-11-08 21:25] williamberman commented on #433
@lockshaw have a decent backlog atm but can def get to eventually if @gabrieleoliaro's backlog is also overloaded

[2022-11-08 22:22] rajas1998 commented on #424
I would need help, not sure how to go about this. I don't have a lot of context on FlexFlow implementation of operators.

[2022-11-09 02:12] GYDmedwin commented on #457
Great, you are right, it has been successfully compiled on the real machine. Thank you so much!

[2022-11-09 02:32] williamberman commented on #457
@GYDmedwin  Thank _you_ for reporting the build issues!

[2022-11-09 02:50] goliaro opened #460 "Legion cross-compilation error: `SIGILL, Illegal instruction`"
When cross-compiling Legion using [this workflow](https://github.com/flexflow/flexflow-third-party/blob/master/.github/workflows/build.yml) in order to make the FlexFlow builds faster (as introduced by PR #400), we sometimes incur in the following error when running `flexflow_python` after building with a pre-built Legion library (`FF_USE_PREBUILT_LEGION=ON`):

[code]

Upon further inspection (run

[2022-11-09 09:32] soumyac1999 opened #462 "Add sin and cos operators"
#365

[2022-11-09 19:51] #460 closed, assigned to nobody

[2022-11-09 19:58] lockshaw commented on #462
@soumyac1999 This issue should be pretty straightforward, do you want to try implementing it yourself to get some experience? `sin` and `cos` can be added to `ElementUnary` (take a look at https://github.com/flexflow/FlexFlow/blob/master/src/ops/element_unary.cu#L55-L99 and https://github.com/flexflow/FlexFlow/blob/master/src/ops/element_unary.cu#L159-L216). You'll also need to append a new `Opera

[2022-11-09 19:58] lockshaw commented on #462
Also @soumyac1999 can you assign a priority?

[2022-11-09 20:02] lockshaw commented on #457
I'd say 1 is probably want we want to do for now, unless @eddy16112 or @jiazhihao disagree.

[2022-11-09 20:10] lockshaw opened #463 "Investigate if project board can automatically handle blocking/unblocking issues"

[2022-11-09 20:32] lockshaw commented on #301
@virena I'll be setting up a meeting with you and @jiazhihao once @williamberman is up-to-date with the substitution generator stuff (hopefully in the next week or two) and we can discuss where to go with this issue/PR then

[2022-11-10 09:26] lockshaw opened #464 "`dlopen` error loading `libpython3.9` when using pre-build legion"
On a system running python 3.8, I ran into the following error when using the prebuilt legion library:

[code]

Disabling the prebuilt legion library fixes the issue. Lmk if you're able to reproduce the issue or if you need more info :slightly_smiling_face:.

CC @tnoyola

[2022-11-10 09:55] eddy16112 commented on #464
It is because the pre-build legion was compiled with python3.9, while the python in your conda is 3.8. Maybe we should pre-build legion with different versions of python?

[2022-11-11 04:49] soumyac1999 opened #467 "Possibly mistake in multihead attention in bert_proxy_native.py"
https://github.com/flexflow/FlexFlow/blob/34409f4cd47382de1f75169baa4cd66b6604e23c/examples/python/native/bert_proxy_native.py#L34-L36

The softmax shouldn't have been commented out and there should have been a scaling by `sqrt(kdim)` before computing the softmax.

[2022-11-11 06:16] soumyac1999 opened #469 "Make an environment.yml file for creating conda env"
Ref #370, changes of which I deleted by mistake.

[2022-11-11 06:21] soumyac1999 commented on #469
Duplicate of #366

[2022-11-11 06:21] #469 closed

[2022-11-11 06:56] virena commented on #463
For blocked issues, we can add a GitHub action (like [this one](https://github.com/marketplace/actions/blocking-issues)) or create a `blocked` label. The action is for PRs being blocked by issues, though, not issues being blocked by other issues.

The `blocked` label wouldn't be an automation. I don't think there's an effective way to link issues to others besides referencing them in the issue des

[2022-11-11 11:25] DanGuge commented on #334
hello guys, I have the same problems, have you solved it now?When I run https://github.com/flexflow/FlexFlow/blob/osdi2022ae/scripts/osdi22ae/bert.sh

[2022-11-11 11:39] DanGuge commented on #334
Hi guys, I have the same problem, have you fixed it now?
I have tested the scripts here https://github.com/flexflow/FlexFlow/tree/osdi2022ae/scripts/osdi22ae, and passed all scripts except bert.sh, and the "illagel memory access" problem happens every time.
* When running BERT with a parallelization strategy discovered by Unity, I met 'illegal memory access'
<img width="1430" alt="image" src="http

[2022-11-11 17:20] williamberman commented on #457
@lockshaw sorry missed this, agreed! Will do

[2022-11-11 17:24] williamberman opened #470 "Build examples when targeting hip_rocm gpu backend"
Follow up from https://github.com/flexflow/FlexFlow/issues/457

Many examples have custom cuda code. We should throw an error during the configuration stage if trying to build examples

[2022-11-11 21:29] jiazhihao opened #471 "Support FP16 for Embedding"
@lockshaw @daiyaanarfeen What are the corresponding data types in CUDA and C++?

[2022-11-14 17:19] jiazhihao opened #473 "Runtime Hang after finishing all tasks"
To reproduce
[code]

The execution hangs after `real end top-level task` is printed. The issue seems to be related to some of the recent changes to the Python part.

[2022-11-14 20:54] jiazhihao commented on #473
@gabrieleoliaro I did a binary search on the git log of the master branch, and it seems #400 is the source of the issue --- the python program hangs using commit 09ee16b13, while it exits normally using the previous commit 81304c84.

Do you think this provides you enough information to look into the issue?

[2022-11-14 21:11] jiazhihao commented on #473
@eddy16112 any idea on why the top_level_task has completed but flexflow_python refuses to exit.

[2022-11-15 01:46] eddy16112 commented on #473
I am not able to reproduce it on sapling, here is my cmd:
`./flexflow_python ../examples/python/keras/seq_mnist_mlp.py -ll:py 1 -ll:gpu 1 -ll:fsize 4096 -ll:zsize 12192 -b 64 --only-data-parallel`
Here is the final output:
[code]
@gabrieleoliaro Are you able to reproduce it on your side?